<div class="dashboard__analytics-section">
	@if (completedTasksByExecutor$ | withLoading | async; as completedTasksByExecutor) {
		@if (completedTasksByExecutor.data) {
			<div class="dashboard__analytics-section-graph task">
				<div class="dashboard__analytics-section-graph-toolbar">
					<p class="dashboard__analytics-section-graph-title">Completed tasks by assignee</p>

					<select class="dashboard__analytics-section-graph-select">
						<option value="day">Day</option>
						<option value="week">Week</option>
						<option value="month">Month</option>
						<option value="year">Year</option>
					</select>
				</div>

				<div>
					<canvas
						baseChart
						height="250"
						[data]="completedTasksByExecutor.data"
						[options]="barChartOptions"
					>
					</canvas>
				</div>
			</div>
		}

		@if (completedTasksByExecutor.loading || completedTasksByExecutor.error) {
			<!-- TODO: Aliya -->
			<div class="dashboard__analytics-section-graph-loading">Loading</div>
		}
	}

	@if (inProgressTasksByExecutor$ | withLoading | async; as inProgressTasksByExecutor) {
		@if (inProgressTasksByExecutor.data) {
			<div class="dashboard__analytics-section-graph">
				<div class="dashboard__analytics-section-graph-toolbar">
					<p class="dashboard__analytics-section-graph-title">Active tasks by assignee</p>

					<select class="dashboard__analytics-section-graph-select">
						<option value="day">Day</option>
						<option value="week">Week</option>
						<option value="month">Month</option>
						<option value="year">Year</option>
					</select>
				</div>

				<div>
					<canvas
						baseChart
						height="250"
						[data]="inProgressTasksByExecutor.data"
						[options]="barChartOptions"
					>
					</canvas>
				</div>
			</div>
		}

		@if (inProgressTasksByExecutor.loading || inProgressTasksByExecutor.error) {
			<!-- TODO: Aliya -->
			<div class="dashboard__analytics-section-graph-loading">Loading</div>
		}
	}
</div>
