@import 'vars';

.posts {
	app-paginator {
		margin-bottom: 20px;
	}

	&__wrapper {
		height: 100%;
		display: flex;

		@media (max-width: $md) {
			display: inline-block;
		}
	}

	&__empty {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 14px;
		font-weight: 400;
		color: #bdbdbd;
		text-transform: capitalize;
	}

	&__main {
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 1;
		padding-right: 22px;

		@media (max-width: $md) {
			border-right: none;
			padding-right: unset;
		}
	}

	&__content {
		margin-top: 22px;
		flex: 1;

		&-header {
			&-title {
				font-size: 22px;
				font-weight: 500;
			}
		}
	}

	&__sidebar {
		height: 100%;
		min-width: 300px;
		max-width: 500px;
		display: none;
		padding-left: 22px;
		border-left: 1px solid #e2e1e1;

		@media (min-width: $md) {
			display: block;
		}
	}
}
