<div class="wrapper">
  <div class="posts__content">
    <div class="posts__content-header">
      <h1>Recent posts</h1>
      <app-button variant="solid" icon="edit">Write</app-button>
    </div>

    <div class="posts__content-list">
      <ng-container *ngFor="let post of posts">
        <app-post-item></app-post-item>
      </ng-container>
    </div>
  </div>

  <div class="posts__sidebar">
    <div class="posts__content-header">
      <h1>Pinned</h1>
    </div>

    <div class="posts__content-list">
      <ng-container *ngFor="let post of posts">
        <app-post-item></app-post-item>
      </ng-container>
    </div>
  </div>
</div>
