<section class="page posts__wrapper">
  <div class="posts__main">
    <app-posts-toolbar></app-posts-toolbar>
    <app-posts-filter></app-posts-filter>

    <div class="posts__content">
      <app-posts-list-view [posts]="posts"></app-posts-list-view>
    </div>
  </div>

  <div class="posts__sidebar">
    <div class="posts__content-header">
      <h1>Favourites</h1>
    </div>

    <div class="posts__content">
      <app-posts-list-view [posts]="pinnedPosts"></app-posts-list-view>
    </div>
  </div>
</section>
