@import "vars";

h1 {
  font-size: 22px;
  font-weight: 500;
}

.posts {
  &__wrapper {
    display: flex;
  }

  &__main {
    flex: 1;
    border-right: 1px solid #e2e1e1;
    padding-right: 22px;

    @media (max-width: $md) {
      border-right: none;
      padding-right: unset;
    }
  }

  &__content {
    margin-top: 22px;
  }

  &__sidebar {
    max-width: 500px;
    display: none;
    padding-left: 22px;

    @media (min-width: $md) {
      display: block;
    }
  }
}
