<aside class="sidebar">
  <div class="create_chat">
    <h4>Messages</h4>
    <button (click)="onCreateChatClick()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <form [formGroup]="searchForm" class="sidebar__search">
    <input placeholder="Search" class="sidebar__search-input" type="text" />
  </form>

  <div class="sidebar__list desktop">
    <div
      *ngFor="let chat of chats"
      class="sidebar__item"
      (click)="onSelectChat(chat)"
    >
      <img class="sidebar__item-icon" [src]="chat.icon" alt="icon" />
      <div class="sidebar__details">
        <div class="sidebar__item-header">
          <p class="sidebar__item-header-label">{{ chat.label }}</p>
          <p class="sidebar__item-header-time">
            {{ chat.lastMessage.sentAt | date : "HH:mm" }}
          </p>
        </div>
        <div class="sidebar__item-body">
          {{ chat.lastMessage.body }}
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar__list mobile">
    <div
      *ngFor="let chat of chats"
      [routerLink]="[chat.id]"
      class="sidebar__item"
    >
      <img class="sidebar__item-icon" [src]="chat.icon" alt="icon" />
      <div class="sidebar__details">
        <div class="sidebar__item-header">
          <p class="sidebar__item-header-label">{{ chat.label }}</p>
          <p class="sidebar__item-header-time">
            {{ chat.lastMessage.sentAt | date : "HH:mm" }}
          </p>
        </div>
        <div class="sidebar__item-body">
          {{ chat.lastMessage.body }}
        </div>
      </div>
    </div>
  </div>
</aside>
