<aside class="sidebar">
  <div class="create_chat">
    <h4>Messages</h4>

    <button [matMenuTriggerFor]="createMenu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #createMenu="matMenu">
      <button mat-menu-item (click)="onCreateSingleClick()">
        <mat-icon>person</mat-icon>
        <span>Personal chat</span>
      </button>
      <button mat-menu-item (click)="onCreateGroupClick()">
        <mat-icon>group</mat-icon>
        <span>Group chat</span>
      </button>
    </mat-menu>
  </div>

  <form [formGroup]="searchForm" class="sidebar__search">
    <input
      placeholder="Search"
      class="sidebar__search-input"
      type="text"
      formControlName="value"
    />
  </form>

  <ng-container *ngIf="chats$ | async as chats">
    <ng-container
      *ngIf="{ value: (currentChatRoom$ | async) } as currentChatRoomObs"
    >
      <div class="sidebar__list desktop">
        <div
          *ngFor="let chat of chats; trackBy: chatsTrackBy"
          class="sidebar__item"
          [class.sidebar__item-active]="
            currentChatRoomObs.value?.id === chat.id
          "
          (click)="onSelectChat(chat)"
        >
          <img class="sidebar__item-icon" [src]="chat.iconId" alt="icon" />

          <div class="sidebar__item-details">
            <div class="sidebar__item-header">
              <p class="sidebar__item-header-label">{{ chat.name }}</p>
              <p class="sidebar__item-header-time" *ngIf="chat.lastMessageDate">
                {{ chat.lastMessageDate | date : "HH:mm" }}
              </p>
            </div>
            <div class="sidebar__item-body" *ngIf="chat.lastMessageContent">
              {{ chat.lastMessageContent }}
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar__list mobile">
        <div
          *ngFor="let chat of chats; trackBy: chatsTrackBy"
          [routerLink]="[chat.id]"
          class="sidebar__item"
          [class.sidebar__item-active]="
            currentChatRoomObs.value?.id === chat.id
          "
        >
          <img class="sidebar__item-icon" [src]="chat.iconId" alt="icon" />
          <div class="sidebar__item-details">
            <div class="sidebar__item-header">
              <p class="sidebar__item-header-label">{{ chat.name }}</p>
              <p class="sidebar__item-header-time" *ngIf="chat.lastMessageDate">
                {{ chat.lastMessageDate | date : "HH:mm" }}
              </p>
            </div>
            <div class="sidebar__item-body" *ngIf="chat.lastMessageContent">
              {{ chat.lastMessageContent }}
            </div>
          </div>
        </div>
      </div></ng-container
    >
  </ng-container>
</aside>
