<section class="filter">
	<mat-accordion>
		<mat-expansion-panel [expanded]="expanded">
			<mat-expansion-panel-header>
				<mat-panel-title>Filters</mat-panel-title>
			</mat-expansion-panel-header>
			<form
				[formGroup]="form"
				class="filter__fields"
			>
				<mat-form-field appearance="outline">
					<mat-label>Search</mat-label>
					<mat-icon matPrefix>search</mat-icon>
					<input
						matInput
						type="text"
						formControlName="searchValue"
					/>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label>View</mat-label>
					<mat-select formControlName="view">
						@for (view of views; track view) {
							<mat-option
								[matTooltip]="view"
								[value]="view"
							>
								{{ view }}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label>Executors</mat-label>
					<mat-select formControlName="executorId">
						<mat-option
							matTooltip="All Unassigned"
							[value]="null"
						>
							All
						</mat-option>

						@if (currentTeamMember$ | async; as currentTeamMember) {
							<mat-option
								matTooltip="My Tasks"
								[value]="currentTeamMember.id.toString()"
							>
								My Tasks
							</mat-option>
						}

						<mat-divider></mat-divider>

						@if (executors$ | async; as executors) {
							@for (executor of executors; track executor.id) {
								<mat-option
									[matTooltip]="executor.fullName"
									[value]="executor.id.toString()"
								>
									{{ executor.fullName }}
								</mat-option>
							}
						}
					</mat-select>
				</mat-form-field>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</section>
