<div class="filter">
  <div class="filter__left">
    <button mat-stroked-button class="filter__item">
      <mat-icon class="filter__item-icon">grid_view</mat-icon>
      <p>All tasks</p>
    </button>
    <button mat-stroked-button class="filter__item">
      <mat-icon class="filter__item-icon">filter_list</mat-icon>
      <p>Filter</p>
    </button>
    <button mat-stroked-button class="filter__item">
      <mat-icon class="filter__item-icon">wysiwyg</mat-icon>
      <p>View</p>
    </button>
  </div>

  <div class="filter__right">
    <button mat-stroked-button class="filter__item">
      <mat-icon class="filter__item-icon">settings</mat-icon>
      <p>Edit</p>
    </button>
  </div>
</div>
