@import "vars";

:host ::ng-deep {
  mat-form-field {
    width: 100%;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.filter {
  margin-top: 22px;

  &__fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: start;
  }
}
