<div class="filter">
  <div class="filter__left">
    <div class="filter__item">
      <mat-icon class="filter__item-icon">grid_view</mat-icon>
      <p>All tasks</p>
    </div>
    <div class="filter__item">
      <mat-icon class="filter__item-icon">filter_list</mat-icon>
      <p>Filter</p>
    </div>
    <div class="filter__item">
      <mat-icon class="filter__item-icon">wysiwyg</mat-icon>
      <p>View</p>
    </div>
  </div>

  <div class="filter__right">
    <div class="filter__item">
      <mat-icon class="filter__item-icon" src="tuiIconSettingsLarge"></mat-icon>
      <p>Customize</p>
    </div>
  </div>
</div>
