@import "vars";

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item {
    flex: 1 1 auto;
    font-size: 12px;

    @media (max-width: $sm) {
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }

    &-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__edit {
    &-icon {
      font-size: 14px;
    }
  }
}
