<app-page-header value="Events"></app-page-header>

<section class="page">
	<app-events-toolbar (filter)="onFilter($event)"></app-events-toolbar>

	<!-- <app-events-filter (onFilter)="onFilter($event)"></app-events-filter> -->

	@if (events$ | async; as events) {
		<div class="events__content">
			@switch (filter.view) {
				@case (calendarViews.Day) {
					<app-events-day-view [events]="events"></app-events-day-view>
				}
				@case (calendarViews.Week) {
					<app-events-week-view [events]="events"></app-events-week-view>
				}
				@case (calendarViews.Month) {
					<app-events-month-view [events]="events"></app-events-month-view>
				}
			}
		</div>
	}
</section>
