@import 'vars';

.integrations {
	display: grid;
	gap: 14px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: none;

	&__item {
		border: 1px solid #e9e9e9;
		padding: 12px 16px;
		border-radius: 10px;
		background: #ffffff;

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-left {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}

		&-enabled-tag {
			font-size: 10px;
			color: #216435;
			padding: 1px 8px;
			border-radius: 8px;
			background: #c8f8d4;
		}

		&-icon {
			width: 28px;
			height: 28px;
		}

		&-connect {
			font-size: 12px;
			border-radius: 6px;
			border: 1px solid $primary;
			padding: 6px 12px;
			color: $primary;

			&:hover {
				background: $primary;
				color: $text-white;
			}

			&-active {
				font-size: 12px;
				border-radius: 6px;
				background: $primary;
				color: $text-white;
				padding: 6px 12px;
			}
		}

		&-disconnect {
			font-size: 12px;
			border-radius: 6px;
			padding: 6px 12px;
			color: #c57c7c;
			border: 1px solid #c57c7c;

			&:hover {
				background: #f6e5e5;
			}
		}

		&-title {
			font-size: 14px;
			margin-top: 12px !important;
			font-weight: 500;
		}

		&-description {
			margin-top: 4px !important;
			font-size: 12px;
			color: #919191;
		}
	}
}
