<app-page-header value="Integrations"></app-page-header>

<section class="page">
	<div class="integrations">
		@for (integration of integrations; track $index) {
			<div class="integrations__item">
				<div class="integrations__item-header">
					<img
						src="assets/images/integrations/{{ integration.icon }}.svg"
						[alt]="integration.name"
						class="integrations__item-icon"
					/>
					@if (!integration.connected) {
						<button class="integrations__item-connect">Connect</button>
					} @else {
						<button class="integrations__item-connect-active">Connected</button>
					}
				</div>

				<h4 class="integrations__item-title">{{ integration.name }}</h4>
				<p class="integrations__item-description">
					{{ integration.description }}
				</p>
			</div>
		}

		<div class="integrations__item">
			<div class="integrations__item-header">
				<img
					src="assets/images/integrations/spotify.svg"
					alt="Spotify"
					class="integrations__item-icon"
				/>
				<button
					class="integrations__item-connect"
					(click)="onSpotifyClick()"
				>
					Connect
				</button>
			</div>

			<h4 class="integrations__item-title">Spotify</h4>
			<p class="integrations__item-description">
				Digital music, podcast, and video service that gives you access to
				millions of songs and other content from creators all over the world
			</p>
		</div>
	</div>
</section>
