<app-page-header value="Integrations"></app-page-header>

<section class="page">
	<div class="integrations">
		@for (integration of integrations$ | async; track integration.id) {
			<div class="integrations__item">
				<div class="integrations__item-header">
					<div class="integrations__item-header-left">
						<img
							src="assets/images/integrations/{{ integration.icon }}.svg"
							[alt]="integration.name"
							class="integrations__item-icon"
						/>

						@if (integration.connected) {
							<span class="integrations__item-enabled-tag">Enabled</span>
						}
					</div>

					@if (!integration.connected) {
						<button
							class="integrations__item-connect"
							(click)="integration.onConnect()"
						>
							Connect
						</button>
					} @else {
						<button
							class="integrations__item-disconnect"
							(click)="integration.onDisconnect()"
						>
							Disconnect
						</button>
					}
				</div>

				<h4 class="integrations__item-title">
					{{ integration.name }}
				</h4>

				<p class="integrations__item-description">
					{{ integration.description }}
				</p>
			</div>
		}
	</div>
</section>
