<h1 mat-dialog-title class="create-note__title">Create a new group chat</h1>
<section mat-dialog-content>
  <form [formGroup]="form" class="create-note__form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
  </form>
</section>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onBackClick()">Back</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmitClick()"
    cdkFocusInitial
  >
    Create
  </button>
</mat-dialog-actions>
