@import 'container';
@import 'vars';

.wrapper {
	background: rgb(255, 255, 255);
}

.container {
	@include container;
	font-family: $primary-ff, sans-serif;
	font-size: $text-sm;
	color: black;
	position: relative;

	@media (min-width: $md) {
		font-size: $text-sm;
	}
}
