{
  'trailingComma': 'all',
  'tabWidth': 2,
  'useTabs': true,
  'semi': false,
  'bracketSpacing': true,
  'singleQuote': true,
  'jsxSingleQuote': true,
  'quoteProps': 'preserve',
  'arrowParens': 'avoid',
  'singleAttributePerLine': true,
  'embeddedLanguageFormatting': 'off',
  'endOfLine': 'auto',
  'printWidth': 100,
  'importOrder':
    [
      '@angular/(.*)',
      '^rxjs/(.*)$',
      '<THIRD_PARTY_MODULES>',
      '^src/app/core/(.*)$',
      '^src/app/shared/(.*)$',
      '^src/app/(.*)$',
      '^../(.*)',
      '^./(.*)',
    ],
  'importOrderSeparation': true,
  'importOrderSortSpecifiers': true,
  'importOrderParserPlugins': ['typescript', 'decorators-legacy'],
  'plugins': ['@trivago/prettier-plugin-sort-imports'],
}
