<footer class="footer">
	<ul class="footer__nav">
		<li class="nav__item">
			<h2 class="nav__title">Media</h2>

			<ul class="nav__ul">
				<li>
					<a href="#">Online</a>
				</li>

				<li>
					<a href="#">Print</a>
				</li>

				<li>
					<a href="#">Alternative Ads</a>
				</li>
			</ul>
		</li>

		<li class="nav__item">
			<h2 class="nav__title">Technology</h2>

			<ul class="nav__ul">
				<li>
					<a href="#">Hardware Design</a>
				</li>

				<li>
					<a href="#">Software Design</a>
				</li>

				<li>
					<a href="#">Digital Signage</a>
				</li>

				<li>
					<a href="#">Automation</a>
				</li>

				<li>
					<a href="#">Artificial Intelligence</a>
				</li>

				<li>
					<a href="#">IoT</a>
				</li>
			</ul>
		</li>

		<li class="nav__item">
			<h2 class="nav__title">Legal</h2>

			<ul class="nav__ul">
				<li>
					<a href="#">Privacy Policy</a>
				</li>

				<li>
					<a href="#">Terms of Use</a>
				</li>

				<li>
					<a href="#">Sitemap</a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="footer__bottom">
		<h1 class="footer__logo">KAITEKI</h1>
		<p>&copy; 2023 Kaiteki. All rights reserved.</p>
	</div>
</footer>
