<app-page-header value="Spotify Playlist"></app-page-header>

<section class="page">
  <div class="spotify-playlist">
    <div class="spotify-playlist-info">
      <img
        class="spotify-playlist-img"
        [src]="'someURL'"
        alt="Arctic Monkeys"
      />
      <div class="spotify-playlist-details">
        <p class="spotify-playlist-title">Playlist</p>
        <h1 class="spotify-playlist-name">Arctic Monkeys</h1>
      </div>
    </div>
  </div>

  <div>
    <app-playlist-songs />
  </div>
</section>
