@import 'vars';

.nav__container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	padding: 16px 0;
}

.nav__header {
	width: fit-content;
	padding: 0.5rem 1rem;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.6);
	z-index: 9999;

	@media screen and (max-width: $md) {
		width: 100%;
	}
}

.nav__wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__logo {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;

	& p {
		font-family: 'Sarpanch', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.125rem;
		color: #067e3c;
	}

	& img {
		width: 1.7rem;
		height: 1.7rem;
	}
}

.nav__list {
	display: none;

	@media (min-width: $md) {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.7rem;
		margin: 0 100px;
	}
}

.nav__link {
	cursor: pointer;
	font-weight: 500;

	&:hover {
		color: $primary;
	}
}

.nav__mobile {
	width: 100%;
	position: absolute;
	top: 3.5rem;
	left: 0;
	display: none;

	background-color: white;
	padding: 1rem;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 2rem;

	@media (max-width: $md) {
		display: block;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #f9f9f9;
		padding: 0.75rem;
		border-radius: 1.5rem;
	}

	&-link {
		cursor: pointer;
		transition: color 0.3s;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		border-radius: 0.375rem;
		font-weight: 500;

		&-active {
			color: white;
			background: $primary;
		}
	}
}

.nav__right {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;

	&-login {
		border-radius: 8px;
	}

	&-start {
		border-radius: 8px;
		background: -webkit-linear-gradient(90grad, #17998e, #2ed66f);
		color: #ffffff;
	}

	&-link {
		display: none; /* Hidden by default */

		@media (min-width: $md) {
			display: inline;
			cursor: pointer;
		}

		@media (hover: hover) {
			&:hover {
				color: $primary;
			}
		}
	}

	&-menu {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (min-width: $md) {
			display: none;
		}
	}
}

.nav__icon {
	color: #3f3a50;
	font-size: 1.5rem;
}

.avatar {
	&-wrapper {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		padding: 4px 14px;
		border-radius: 12px;

		&:hover {
			border-radius: 8px;
			background: -webkit-linear-gradient(90grad, #17998e, #2ed66f);
			color: #ffffff;
		}
	}

	&-img {
		width: 28px;
		height: 28px;
		border-radius: 9999px;
		object-fit: cover;

		@media (max-width: $sm) {
			width: 26px;
			height: 26px;
		}
	}

	&-icon {
		cursor: pointer;
		color: #494949;
	}

	&-label {
		font-weight: 500;
	}
}
