<section class="nav__container">
	<header class="nav__header">
		<div class="nav__wrapper">
			<button
				class="nav__logo"
				routerLink="/"
			>
				<img
					src="/assets/images/icons/kaiteki-logo-short.svg"
					alt="Logo"
				/>
				<p>Kaiteki</p>
			</button>

			<ul class="nav__list">
				@for (page of navbarPagesArr; track $index) {
					<a
						[routerLink]="page.link ? [page.link]: undefined"
						routerLinkActive="router-link-active"
						class="nav__link"
						(click)="scroll(page.linkElementId)"
					>
						{{ page.label }}
					</a>
				}
			</ul>

			@if (menuOpen) {
				<div class="nav__mobile">
					<ul class="nav__mobile-wrapper">
						@for (page of navbarPagesArr; track $index) {
							<a
								[routerLink]="page.link ? [page.link]: undefined"
								routerLinkActive="router-link-active"
								class="nav__mobile-link"
								[ngClass]="{ 'nav__mobile-link-active': false }"
								(click)="scroll(page.linkElementId)"
							>
								{{ page.label }}
							</a>
						}
						<a
							routerLink="/login"
							routerLinkActive="router-link-active"
							class="nav__mobile-link"
							[ngClass]="{ 'nav__mobile-link-active': false }"
						>
							Login
						</a>
					</ul>
				</div>
			}

			<div class="nav__right">
				@if (user$ | async; as user) {
					<button [matMenuTriggerFor]="profileDropdown">
						<div class="avatar-wrapper">
							<ngx-avatars
								src="api/v1/files/{{ user.avatarId }}"
								[name]="user.fullName"
								size="30"
								bgColor="#64748B"
							></ngx-avatars>

							<p class="avatar-label">{{ user.firstname }}</p>
						</div>
					</button>

					<mat-menu
						#profileDropdown="matMenu"
						yPosition="below"
					>
						<button
							mat-menu-item
							routerLink="hub"
						>
							<mat-icon>apps</mat-icon>
							<p>Enter Hub</p>
						</button>
						<button
							mat-menu-item
							(click)="onLogout()"
						>
							<mat-icon>logout</mat-icon>
							<p>Log Out</p>
						</button>
					</mat-menu>
				} @else {
					<button
						mat-stroked-button
						routerLink="/login"
						class="nav__right-login"
					>
						Login
					</button>

					<button
						mat-flat-button
						color="primary"
						routerLink="login"
						class="nav__right-start"
					>
						Get started
					</button>
				}

				<button
					class="nav__right-menu"
					(click)="onToggleMenu()"
				>
					@if (!menuOpen) {
						<mat-icon class="nav__icon">menu</mat-icon>
					}
					@if (menuOpen) {
						<mat-icon class="nav__icon">close</mat-icon>
					}
				</button>
			</div>
		</div>
	</header>
</section>
