<header class="nav__header">
  <div class="nav__wrapper">
    <div>
      <p class="nav__logo">Kaiteki</p>
    </div>

    <ul class="nav__list">
      <a
        *ngFor="let page of navbarPagesArr"
        [routerLink]="[page.link]"
        routerLinkActive="router-link-active"
        class="nav__link"
      >
        {{ page.label }}
      </a>
    </ul>

    <div class="nav__mobile" *ngIf="menuOpen">
      <ul class="nav__mobile-wrapper">
        <a
          *ngFor="let page of navbarPagesArr"
          [routerLink]="[page.link]"
          routerLinkActive="router-link-active"
          class="nav__mobile-link"
          [ngClass]="{ 'nav__mobile-link-active': false }"
        >
          {{ page.label }}
        </a>

        <a
          [routerLink]="[navbarPages['sales'].link]"
          routerLinkActive="router-link-active"
          class="nav__mobile-link"
          [ngClass]="{ 'nav__mobile-link-active': false }"
        >
          {{ navbarPages["sales"].label }}
        </a>
      </ul>
    </div>

    <div class="nav__right">
      <a
        [routerLink]="[navbarPages['sales'].link]"
        routerLinkActive="router-link-active"
        class="nav__right-link"
      >
        {{ navbarPages["sales"].label }}
      </a>
      <app-button variant="solid">Get started</app-button>
      <button class="nav__right-menu" (click)="onToggleMenu()">
        <tui-svg
          *ngIf="!menuOpen"
          src="tuiIconMenu"
          class="nav__icon"
        ></tui-svg>
        <tui-svg
          *ngIf="menuOpen"
          src="tuiIconClose"
          class="nav__icon"
        ></tui-svg>
      </button>
    </div>
  </div>
</header>
