<header class="nav__header">
	<div class="nav__wrapper">
		<div>
			<p class="nav__logo">Kaiteki</p>
		</div>

		<ul class="nav__list">
			<a
				*ngFor="let page of navbarPagesArr"
				[routerLink]="[page.link]"
				routerLinkActive="router-link-active"
				class="nav__link">
				{{ page.label }}
			</a>
		</ul>

		<div
			class="nav__mobile"
			*ngIf="menuOpen">
			<ul class="nav__mobile-wrapper">
				<a
					*ngFor="let page of navbarPagesArr"
					[routerLink]="[page.link]"
					routerLinkActive="router-link-active"
					class="nav__mobile-link"
					[ngClass]="{ 'nav__mobile-link-active': false }">
					{{ page.label }}
				</a>

				<a
					[routerLink]="[navbarPages['sales'].link]"
					routerLinkActive="router-link-active"
					class="nav__mobile-link"
					[ngClass]="{ 'nav__mobile-link-active': false }">
					{{ navbarPages['sales'].label }}
				</a>
			</ul>
		</div>

		<div class="nav__right">
			<a
				[routerLink]="[navbarPages['sales'].link]"
				routerLinkActive="router-link-active"
				class="nav__right-link">
				{{ navbarPages['sales'].label }}
			</a>

			<ng-container *ngIf="user$ | async as user; else getStartedButton">
				<button [matMenuTriggerFor]="profileDropdown">
					<div class="avatar-wrapper">
						<img
							src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
							alt="Avatar"
							class="avatar-img" />
						<p class="avatar-label">
							{{ user.firstname }} {{ user.lastname.charAt(0) }}.
						</p>
					</div>
				</button>

				<mat-menu
					#profileDropdown="matMenu"
					yPosition="below">
					<button
						mat-menu-item
						routerLink="hub">
						<mat-icon>apps</mat-icon>
						<p>Enter Hub</p>
					</button>
					<button
						mat-menu-item
						(click)="onLogout()">
						<mat-icon>logout</mat-icon>
						<p>Log Out</p>
					</button>
				</mat-menu>
			</ng-container>

			<ng-template #getStartedButton>
				<button
					mat-flat-button
					color="primary"
					routerLink="login">
					Get started
				</button>
			</ng-template>

			<button
				class="nav__right-menu"
				(click)="onToggleMenu()">
				<mat-icon
					*ngIf="!menuOpen"
					class="nav__icon"
					>menu</mat-icon
				>
				<mat-icon
					*ngIf="menuOpen"
					class="nav__icon"
					>close</mat-icon
				>
			</button>
		</div>
	</div>
</header>
