<h4 mat-dialog-title class="cpost__title">Write a new post</h4>

<section class="cpost" mat-dialog-content>
  <form [formGroup]="form" class="cpost__form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>

    <quill-editor
      [modules]="quillConfig"
      formControlName="description"
      theme="snow"
      placeholder="Description"
      class="quill__editor"
    ></quill-editor>

    <mat-form-field appearance="outline">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        <mat-chip-row
          *ngFor="let tag of selectedTags"
          (removed)="remove(tag)"
          [editable]="true"
          (edited)="edit(tag, $event)"
        >
          {{ tag }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          matInput
          formControlName="tags"
          placeholder="Add a tag..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
    </mat-form-field>

    <div class="cpost__form-toolbar"></div>
  </form>
</section>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onBackClick()">Back</button>
  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Post
  </button>
</mat-dialog-actions>
