@import "vars";

mat-form-field {
  width: 100%;
}

:host ::ng-deep {
  .ql-toolbar.ql-snow {
    border-radius: 6px 6px 0 0;
    background: #fff;
    padding: 16px;
    border: 1px solid #8e8e94;
  }

  .ql-editor {
    padding: 16px;
    min-height: 200px;

    & p {
      color: $text-black;
    }
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
  }

  .ql-container.ql-snow {
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #8e8e94;
  }
}

.cpost {
  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 22px;

    &-toolbar {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}

.quill {
  &__editor {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}
