<ng-container *ngIf="task">
  <div class="task" cdkDrag>
    <div class="task__header">
      <h5 class="task__header-title">{{ task.title }}</h5>

      <button class="task__header-more" [matMenuTriggerFor]="viewsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #viewsMenu="matMenu">
        <button mat-menu-item [routerLink]="[task.id]">View</button>
        <button mat-menu-item [routerLink]="[task.id, 'edit']">Edit</button>
      </mat-menu>
    </div>

    <div class="task__description">
      <p>
        {{ task.description }}
      </p>
    </div>

    <div class="task__tags">
      <div
        class="task__tags-item"
        [ngStyle]="{ background: taskPriorityColor }"
      >
        <p class="task__tags-body">{{ taskPriority }}</p>
      </div>

      <!-- <ng-container *ngFor="let tag of task.tags">
        <div class="task__tags-item">
          <p class="task__tags-body">{{ tag }}</p>
        </div>
      </ng-container> -->
    </div>

    <div class="task__dates">
      <mat-icon class="task__dates-icon">access_time</mat-icon>
      <p>Oct 08 - Oct 12</p>
    </div>

    <div class="task__footer">
      <div class="task__footer-executor">
        <mat-icon class="task__footer-executor-icon">person_outline</mat-icon>
        <p>Diar Begisbayev</p>
      </div>

      <div class="task__footer-comments">
        <mat-icon class="task__footer-comments-icon">comment_outline</mat-icon>
        <p>5</p>
      </div>
    </div>
  </div>
</ng-container>
