@import "vars";

.task {
  width: 100%;
  overflow-x: hidden;
  padding: 12px 0px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #e9e9e9;

  &__placeholder {
    background: #fafafa;
    border: dotted 3px #e4e3e3;
    border-radius: 6px;
    min-height: 200px;
    width: 100%;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  &__header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    &-title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__description {
    padding: 0 16px;
    margin-top: 8px;

    & p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      color: #575757;
    }
  }

  &__tags {
    padding: 0 16px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &-item {
      font-size: 10px;
      padding: 2px 6px;
      background: #d5e5f7;
      border-radius: 4px;
      text-overflow: clip;
      overflow: hidden;
    }
  }

  &__dates {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;

    &-icon {
      font-weight: 500;
      width: 16px;
      height: 16px;
      font-size: 16px;
    }

    & span {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__footer {
    padding: 12px 16px 0px;
    margin-top: 12px;
    border-top: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-executor {
      display: flex;
      align-items: center;
      gap: 8px;

      &-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }

      & p {
        font-size: 12px;
      }
    }

    &-comments {
      display: flex;
      align-items: center;
      gap: 8px;

      &-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }

      & p {
        font-size: 12px;
      }
    }
  }
}

.cdk-drag-preview {
  padding: 12px 0px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
