<div *ngIf="file" class="files__item">
  <div class="files__item-preview-wrapper">
    <ng-container *ngIf="true">
      <img
        src="api/v1/files/{{ file.fileId }}"
        loading="lazy"
        alt="Preview"
        class="files__item-preview-img"
      />
    </ng-container>
  </div>

  <h5 class="files__item-title">{{ file.filename }}</h5>
  <p class="files__item-desc">{{ file.description }}</p>

  <div class="files__item-bottom">
    <p class="files__item-type">{{ file.contentType }}</p>
    <p class="files__item-size">
      {{ getFormattedFileSize(file.size) }}
    </p>
  </div>
</div>

<ng-template #previewIconTemplate>
  <mat-icon class="files__item-preview-icon">insert_drive_file</mat-icon>
</ng-template>
