@if (file) {
	<div class="files__item">
		<div
			class="files__item-preview-wrapper"
			[matMenuTriggerFor]="menu"
		>
			@if (isImage) {
				<img
					src="api/v1/files/{{ file.fileId }}"
					loading="lazy"
					alt="Preview"
					class="files__item-preview-img"
				/>
			} @else {
				<mat-icon class="files__item-preview-icon">insert_drive_file</mat-icon>
				<p class="files__item-preview-title">No document preview</p>
			}
		</div>
		<p
			class="files__item-title"
			[matMenuTriggerFor]="menu"
			[matTooltip]="file.description"
		>
			{{ file.description }}
		</p>
		<p class="files__item-desc">{{ file.filename }}</p>
		<div class="files__item-bottom">
			<p class="files__item-type">{{ fileType }}</p>
			<p class="files__item-size">
				{{ getFormattedFileSize(file.size) }}
			</p>
		</div>
	</div>
}

<mat-menu #menu="matMenu">
	<button
		mat-menu-item
		(click)="onDownloadClick()"
	>
		<mat-icon>download</mat-icon>
		Download
	</button>
</mat-menu>
