<section class="page post__wrapper">
  <div class="post__main">
    <h1 class="post__title">JSON is incredibly slow: Here’s What’s Faster!</h1>

    <div class="post__details">
      <div class="post__user">
        <img
          class="post__user-avatar"
          src="https://miro.medium.com/v2/resize:fill:44:44/1*FCSZoy-APX517P8IPmI6pw.png"
          alt="Vaishinov Manoj"
        />
        <div class="post__user-right">
          <p class="post__user-name">Vaishinov Manoj</p>
          <p class="post__user-published">September 28</p>
        </div>
      </div>

      <div class="post__toolbar">
        <mat-icon>ios_share</mat-icon>
        <mat-icon>favorite</mat-icon>
      </div>
    </div>

    <img
      class="post__hero-image"
      src="https://miro.medium.com/v2/resize:fit:700/1*I2ObYjzqveyXzEe9QixMPw.png"
      alt="Hero Image"
    />

    <div class="post__content">
      <p [innerHTML]="content"></p>
    </div>
  </div>
</section>
