@import 'vars';

:host ::ng-deep {
	mark {
		background-color: #e8f3e8;
		color: currentcolor;
	}
}

.post {
	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__main {
		max-width: 740px;
		background: #fff;
		border-radius: 12px;
		padding: 34px;
		border: 1px solid #ebeaea;

		@media (max-width: $md) {
			padding: 22px;
		}
	}

	&__title {
		font-size: 36px;
		font-weight: 700;
		color: #242424;
		line-height: 46px;

		@media (max-width: $md) {
			font-size: 32px;
			line-height: 38px;
		}

		@media (max-width: $sm) {
			font-size: 26px;
			line-height: 34px;
		}
	}

	&__details {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		margin-top: 26px;
	}

	&__toolbar {
		display: flex;
		align-items: center;
		gap: 12px;

		& mat-icon {
			font-size: 22px;
			width: 22px;
			height: 22px;
		}
	}

	&__user {
		display: flex;
		align-items: center;
		gap: 16px;

		&-avatar {
			width: 44px;
			height: 44px;
			background: #aaaaaa;
			border-radius: 9999px;
		}

		&-name {
			font-weight: 500;
		}

		&-published {
			color: #797979;
			margin-top: 4px;
		}
	}

	&__hero-image {
		margin-top: 26px;
		width: 100%;
		height: auto;
		object-fit: contain;
		background: #ffffff;
	}

	&__content {
		font-size: 18px;
		line-height: 28px;
		margin-top: 26px;
		color: $text-black;
		font-family: 'Source Serif 4', serif;
	}
}

.liked {
	color: red !important;
}
