@if (currentTeamMember$ | async; as currentTeamMember) {
	<section class="page post__wrapper">
		@if (post && !loading) {
			<div class="post__main">
				<h1 class="post__title">{{ post.title }}</h1>
				<div class="post__details">
					<div class="post__user">
						<ngx-avatars
							src="api/v1/files/{{ post.authorTeamMember.avatarId }}"
							[name]="post.authorTeamMember.fullName"
							size="40"
							bgColor="#64748B"
						></ngx-avatars>

						<div class="post__user-right">
							<p class="post__user-name">{{ post.authorTeamMember.fullName }}</p>
							<p class="post__user-published">
								{{ post.createdDate | date: 'mediumDate' }}
							</p>
						</div>
					</div>
					<div class="post__toolbar">
						@if (currentTeamMember.id === post.authorTeamMember.id) {
							<button
								(click)="onDeleteClick()"
								matTooltip="Delete"
							>
								<mat-icon>delete_outline</mat-icon>
							</button>

							<button
								(click)="onEditClick()"
								matTooltip="Edit"
							>
								<mat-icon>edit_note</mat-icon>
							</button>
						}

						<button
							(click)="onShareClick()"
							matTooltip="Share"
						>
							<mat-icon>ios_share</mat-icon>
						</button>

						<button
							(click)="onLikeClick()"
							matTooltip="Like"
						>
							@if (post.liked) {
								<mat-icon class="liked">favorite</mat-icon>
							}
							@if (!post.liked) {
								<mat-icon>favorite_border</mat-icon>
							}
						</button>
					</div>
				</div>

				@if (post.heroImageId) {
					<img
						class="post__hero-image"
						loading="eager"
						src="/api/v1/files/{{ post.heroImageId }}"
						alt="Hero Image"
					/>
				}

				<div class="post__content">
					<quill-view
						[content]="post.content"
						format="html"
						theme="snow"
					></quill-view>
				</div>
			</div>
		}
		@if (!post && !loading) {
			<div>
				<p>Post not found</p>
			</div>
		}
	</section>
}
