<div class="dashboard__analytics-section">
	@if (teamPerformance$ | withLoading | async; as teamPerformance) {
		@if (teamPerformance.data) {
			<div class="dashboard__analytics-section-statistics performance">
				<div class="dashboard__analytics-performance-wrapper">
					<mat-progress-spinner
						diameter="150"
						[value]="teamPerformance.data.performance"
					></mat-progress-spinner>

					<p class="dashboard__analytics-performance-value">
						{{ teamPerformance.data.performance | number:'1.1-1' }}%
					</p>
				</div>

				<div>
					<p class="dashboard__analytics-performance-label">Overall Performance</p>

					<p class="dashboard__analytics-performance-subtitle">
						Estimated performance for the next period:
						@if (predictedTeamPerformance$ | withLoading | async; as predictedTeamPerformance) {
							@if (predictedTeamPerformance.data) {
								@if (predictedTeamPerformance.data.performance) {
									<span class="dashboard__analytics-performance-subtitle-value">
										{{predictedTeamPerformance.data.performance * 100 | number:'1.1-1'}}%
									</span>
								} @else {
									<span class="dashboard__analytics-performance-subtitle-value">
										<br />
										To achieve accurate results, we need to gather data for at least one month
										period.
									</span>
								}
							}
							@if (predictedTeamPerformance.loading) {
								<span class="dashboard__analytics-performance-subtitle-value">
									Calculating...
								</span>
							}
						}
					</p>
				</div>
			</div>
		}

		@if (teamPerformance.loading || teamPerformance.error) {
			<ngx-skeleton-loader
				class="dashboard__analytics-performance-stats-loading"
				count="1"
				appearance="line"
				[theme]="{
									height: '100%',
									'min-height': '270px',
                                    'border-radius': '8px',
								}"
			/>
		}
	}

	@if (performanceChartData$ | withLoading | async; as performanceChartData) {
		@if (performanceChartData.data) {
			<div class="dashboard__analytics-section-graph">
				<div class="dashboard__analytics-section-graph-toolbar">
					<p class="dashboard__analytics-section-graph-title">Performance by period</p>
				</div>

				<div>
					<canvas
						baseChart
						height="250"
						[data]="performanceChartData.data"
						[options]="performanceChartOptions"
						type="line"
					>
					</canvas>
				</div>
			</div>
		}

		@if (performanceChartData.loading || performanceChartData.error) {
			<ngx-skeleton-loader
				class="dashboard__analytics-performance-graph-loading"
				count="1"
				appearance="line"
				[theme]="{
								height: '100%',
								'min-height': '270px',
								'border-radius': '8px',
							}"
			/>
		}
	}
</div>
