<div class="task__notes">
	<h4 class="task__notes-title">Notes</h4>
	<form
		class="task__notes-form"
		[formGroup]="form"
	>
		<mat-form-field appearance="outline">
			<textarea
				formControlName="content"
				matInput
				cdkTextareaAutosize
				cdkAutosizeMinRows="1"
				placeholder="Leave a note"
			></textarea>
		</mat-form-field>

		<button
			mat-stroked-button
			type="submit"
			class="task__notes-send"
			[disabled]="form.invalid"
			(click)="createNote()"
		>
			<mat-icon>send</mat-icon>
			<span>Send</span>
		</button>
	</form>

	@if (taskNotes$ | async; as taskNotes) {
		<div class="task__notes-list">
			@for (note of taskNotes; track note.id) {
				<app-task-note-item
					[note]="note"
					(delete)="deleteNote($event)"
				></app-task-note-item>
			}
		</div>
	}
</div>
