@import "vars";

:host {
  button {
    padding: 0rem !important;
  }
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  border-right: 2px solid #f2f2f2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #f9fafc;

  &::-webkit-scrollbar {
    display: none;
  }

  &__logo {
    font-family: "Sarpanch", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0 20px;
    cursor: pointer;
  }

  &__nav {
    &-list {
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;
      color: #303030;
      padding: 8px 20px;
      border-radius: 14px;

      &:hover {
        background: #f1f1f1;
      }

      &-label {
        font-size: 14px;
      }

      &-active {
        color: $primary;
        background: $primary-light;
        font-weight: 500;

        &:hover {
          color: $primary;
          background: $primary-light;
        }
      }

      &-icon {
        font-size: 12px;
      }
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-icon {
  color: #303030;
  cursor: pointer;
  padding-right: 20px;

  @media (max-width: $sm) {
    font-size: 12px;
  }
}

.icon {
  font-size: 14px;

  @media (max-width: $sm) {
    font-size: 12px;
  }
}
