@import "vars";

.mobile-sidebar__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: #00000081;
  z-index: 10;
}

.toggle_button {
  display: flex;
  align-items: center;
}

:host {
  button {
    padding: 0rem !important;
  }

  .toggle-icon {
    color: #303030;
    cursor: pointer;
    font-size: 24px;
    width: 24px;
    height: 24px;

    @media (max-width: $sm) {
    }
  }
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  border-right: 2px solid #f2f2f2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #f6f8f9;

  &::-webkit-scrollbar {
    display: none;
  }

  &__logo {
    font-family: "Sarpanch", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0 20px;
    cursor: pointer;
  }

  &__nav {
    &-list {
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;
      color: #4f5258;
      padding: 10px 20px;
      border-radius: 8px;

      &:hover {
        background: #f1f1f1;
      }

      &-label {
        font-size: 14px;
      }

      &-active {
        color: #ffff;
        background: $primary;
        font-weight: 500;

        &:hover {
          color: #ffff;
          background: $primary-light;
        }
      }

      &-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}