<div class="playlist-songs">
  <div class="playlist-songs__header">
    <div class="playlist-songs__header-left">
      <p class="playlist-songs__header-number">#</p>
      <p>Title</p>
    </div>

    <div class="playlist-songs__header-right">
      <p class="playlist-songs__header-album">Album</p>
      <p class="playlist-songs__header-date">Date Added</p>
      <p><mat-icon>access_time</mat-icon></p>
    </div>
  </div>

  <ng-container>
    <app-playlist-song></app-playlist-song>
  </ng-container>
</div>
