<h1 mat-dialog-title class="create-chat__title">Create a new single chat</h1>
<section mat-dialog-content>
  <form [formGroup]="form" class="create-chat__form">
    <mat-form-field appearance="outline">
      <mat-label>Members</mat-label>
      <mat-select formControlName="member">
        <ng-container *ngFor="let member of members; trackBy: memberTrackBy">
          <mat-option [value]="member.id">{{ member.name }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </form>
</section>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onBackClick()">Back</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmitClick()"
    cdkFocusInitial
  >
    Create
  </button>
</mat-dialog-actions>
