@import "vars";

.chats-wrapper {
  width: 100%;

  @media (min-width: $md) {
    display: flex;
  }
}

.chat-container {
  display: none;

  @media (min-width: $md) {
    flex: 1 1 auto;
    display: block;
  }
}

.empty-chat {
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    font-size: 16px;
    color: #7a7a7a;
  }
}
