.meetings {
  &__list {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: none;
  }
}
