@import 'vars';

.error {
	&__wrapper {
		width: 100%;
		min-height: 100vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;

		background: #00662b;
		background: -webkit-radial-gradient(circle at -1% 57.5%, #13aa52 0%, #00662b 90%);
		background: radial-gradient(circle at -1% 57.5%, #13aa52 0%, #00662b 90%);
	}

	&__title {
		font-size: 64px;
		font-weight: 500;
		color: $text-white;

		@media screen and (max-width: $md) {
			font-size: 44px;
		}
	}

	&__description {
		margin-top: 30px !important;
		font-size: 16px;
		color: #dadada;

		@media screen and (max-width: $md) {
			font-size: 20px;
		}
	}

	&__button {
		margin-top: 30px;
		border-radius: 8px;
		padding: 10px 24px;
		color: #dadada;
		border: 1px solid #dadada;
		text-transform: capitalize;
	}
}
