<div class="sc__box" cdkDrag [cdkDragDisabled]="!draggable">
  <div class="sc__drag-handler" cdkDragHandle [class.hidden]="!draggable">
    <mat-icon>drag_indicator</mat-icon>
  </div>

  <div class="sc__placeholder" *cdkDragPlaceholder></div>

  <div class="sc__box-content">
    <div class="sc__box-header">
      <span
        class="sc__status-color"
        [ngStyle]="{ background: item.hexCode }"
        [matMenuTriggerFor]="colorPicker"
      ></span>

      <input type="text" [value]="item.label" />
    </div>

    <div>
      <button class="sc__box-edit-button" [matMenuTriggerFor]="editMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #colorPicker="matMenu">
  <ng-container *ngFor="let color of colors">
    <button
      mat-menu-item
      [ngStyle]="{ background: color.hexCode }"
      (click)="onSelectColorClick($event, color.hexCode)"
    ></button>
  </ng-container>
</mat-menu>

<mat-menu #editMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <p>Rename</p>
  </button>

  <button mat-menu-item>
    <mat-icon>color_lens</mat-icon>
    <p>Change color</p>
  </button>

  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <p>Delete</p>
  </button>
</mat-menu>
