.selected-meeting {
  &-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    padding: 22px 22px;
    background: #ffffff;
  }

  &-header {
    color: #000;
    // padding-bottom: 12px;
    // border-bottom: 1px solid #dadada;
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
  }

  &-status {
    color: #7c7c7c;
  }

  &-detail {
    &-list {
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      flex: 1;
    }

    &-label {
      font-size: 12px;
      color: #7c7c7c;
    }

    &-desc {
      color: #000;
    }
  }

  &__button {
    margin-top: 22px;
  }
}
