<h4
	mat-dialog-title
	class="ctask__title"
>
	Create new meeting
</h4>

<section
	class="ctask"
	mat-dialog-content
>
	<form
		[formGroup]="form"
		class="ctask__form"
	>
		<mat-form-field appearance="outline">
			<mat-label>Title</mat-label>
			<input
				formControlName="title"
				matInput
			/>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Description</mat-label>
			<textarea
				formControlName="description"
				matInput
				cdkTextareaAutosize
				#autosize="cdkTextareaAutosize"
				cdkAutosizeMinRows="8"
			></textarea>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Particapants</mat-label>
			<mat-select
				formControlName="invitedMemberIds"
				multiple
			>
				<ng-container *ngIf="allTeamMembers$ | async as allTeamMembers">
					<ng-container *ngFor="let teamMember of allTeamMembers">
						<mat-option [value]="teamMember.id">
							{{ teamMember.fullName }}
						</mat-option>
					</ng-container>
				</ng-container>
			</mat-select>
		</mat-form-field>

		<div class="row">
			<mat-form-field appearance="outline">
				<mat-label>Start Date</mat-label>
				<mtx-datetimepicker
					#startDatetimePicker
					type="datetime"
					mode="portrait"
					[multiYearSelector]="true"
					startView="month"
					[twelvehour]="false"
					[timeInterval]="5"
					[touchUi]="false"
					[timeInput]="false"
				></mtx-datetimepicker>
				<input
					[mtxDatetimepicker]="startDatetimePicker"
					formControlName="startDate"
					matInput
					required
				/>
				<mtx-datetimepicker-toggle
					[for]="startDatetimePicker"
					matSuffix
				></mtx-datetimepicker-toggle>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>End Date</mat-label>
				<mtx-datetimepicker
					#endDatetimePicker
					type="datetime"
					mode="portrait"
					[multiYearSelector]="true"
					startView="month"
					[twelvehour]="false"
					[timeInterval]="5"
					[touchUi]="false"
					[timeInput]="false"
				></mtx-datetimepicker>
				<input
					[mtxDatetimepicker]="endDatetimePicker"
					formControlName="endDate"
					matInput
					required
				/>
				<mtx-datetimepicker-toggle
					[for]="endDatetimePicker"
					matSuffix
				></mtx-datetimepicker-toggle>
			</mat-form-field>
		</div>

		<mat-checkbox
			[checked]="isAllDayToggled"
			(change)="toggleAllDay($event.checked)"
			>All Day</mat-checkbox
		>
	</form>
</section>

<mat-dialog-actions
	mat-dialog-actions
	align="end"
>
	<button
		mat-stroked-button
		(click)="onBackClick()"
	>
		Back
	</button>
	<button
		type="submit"
		mat-flat-button
		color="primary"
		[disabled]="form.invalid"
		(click)="onSubmit()"
	>
		Create
	</button>
</mat-dialog-actions>
