<h4 mat-dialog-title class="ctask__title">Create new meeting</h4>

<section class="ctask" mat-dialog-content>
  <form [formGroup]="form" class="ctask__form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="8"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Particapants</mat-label>
      <mat-select formControlName="invitedMemberIds">
        <ng-container *ngIf="allTeamMembers$ | async as allTeamMembers">
          <ng-container *ngFor="let teamMember of allTeamMembers">
            <mat-option [value]="teamMember.id">
              {{ teamMember.fullName }}
            </mat-option>
          </ng-container>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Start Date</mat-label>
      <mtx-datetimepicker
        #datetimePicker
        type="datetime"
        mode="portrait"
        [multiYearSelector]="true"
        startView="month"
        [twelvehour]="false"
        [timeInterval]="10"
        [touchUi]="false"
        [timeInput]="true"
      ></mtx-datetimepicker>
      <input
        [mtxDatetimepicker]="datetimePicker"
        formControlName="starDate"
        matInput
        required
      />
      <mtx-datetimepicker-toggle
        [for]="datetimePicker"
        matSuffix
      ></mtx-datetimepicker-toggle>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="outline">
      <mat-label>When</mat-label>
      <input
        matInput
        formControlName="startDate"
        [matDatepicker]="startDeadlinePicker"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDeadlinePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDeadlinePicker></mat-datepicker>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input matInput formControlName="startTime" type="time" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ends at</mat-label>
        <input matInput formControlName="endTime" type="time" />
      </mat-form-field>
    </div> -->
  </form>
</section>

<mat-dialog-actions mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onBackClick()">Back</button>
  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Create
  </button>
</mat-dialog-actions>
