mat-form-field {
	width: 100%;
	font-size: 14px;
	margin-bottom: 0;
}

.ctask {
	&__title {
		font-size: 20px;
		font-weight: 500;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-top: 22px;

		&-toolbar {
			display: flex;
			align-items: center;
			gap: 12px;
		}
	}
}

.row {
	display: flex;
	gap: 22px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
	padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
	top: -1.5em;
}

::ng-deep
	.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
	.mat-form-field-label {
	transform: translateY(-1.1em) scale(0.75);
	width: 133.33333%;
}
