<div class="analytics"></div>

<section class="dashboard__analytics-wrapper">
	<app-analytics-statistics-list></app-analytics-statistics-list>

	<div class="dashboard__analytics-sections">
		<div class="dashboard__analytics-left">
			<app-analytics-performance-section></app-analytics-performance-section>

			<app-analytics-tasks-section></app-analytics-tasks-section>
		</div>

		<div class="dashboard__analytics-right">
			<app-sidebar-top-members></app-sidebar-top-members>

			<app-sidebar-events></app-sidebar-events>
		</div>
	</div>
</section>
