@import 'vars';

.desktop-sidebar {
	width: 280px;
	height: 100vh;
	padding: 20px 16px;
	background: $background-sidebar;
	border-right: 1px solid #39393b;

	@media screen and (max-width: $sm) {
		display: none;
	}
}

.collapsed-width {
	width: fit-content;
}
