@if ({ value: collapsed$ | async }; as sidebarCollapsed) {
	<section class="sidebar__wrapper">
		<aside
			class="sidebar"
			[class.collapsed]="sidebarCollapsed.value"
		>
			<div class="sidebar__top">
				<div class="sidebar__logo-wrapper">
					<!-- <h1 class="sidebar__logo">KAITEKI</h1> -->
					@if (!sidebarCollapsed.value) {
						<img
							class="sidebar__logo-img"
							src="/assets/images/icons/kaiteki-logo-horizontal.svg"
							alt="Kaiteki"
							loading="eager"
						/>
					}
					@if (sidebarCollapsed.value) {
						<img
							class="sidebar__logo-img mobile"
							src="/assets/images/icons/kaiteki-logo-short.svg"
							alt="Kaiteki"
							loading="eager"
						/>
					}
				</div>
				<ul class="sidebar__nav-list">
					@for (page of sidebarPages; track page) {
						<a
							class="sidebar__nav-item"
							[class.collapsed-link]="sidebarCollapsed.value"
							[routerLinkActive]="['sidebar__nav-item-active']"
							[routerLinkActiveOptions]="{ exact: false }"
							[routerLink]="[page.link]"
							matTooltipPosition="right"
							[matTooltip]="sidebarCollapsed.value ? page.label : ''"
						>
							<mat-icon class="sidebar__nav-item-icon">{{ page.icon }}</mat-icon>
							@if (!sidebarCollapsed.value) {
								<p class="sidebar__nav-item-label">
									{{ page.label }}
								</p>
							}
						</a>
					}
					<a
						class="sidebar__nav-item"
						[class.collapsed-link]="sidebarCollapsed.value"
						[routerLinkActive]="['sidebar__nav-item-active']"
						[routerLinkActiveOptions]="{ exact: false }"
						[routerLink]="'kaizen'"
						matTooltipPosition="right"
						[matTooltip]="sidebarCollapsed.value ? 'Kaizen' : ''"
					>
						<img
							class="sidebar__nav-item-icon"
							src="/assets/images/icons/kaizen-logo.svg"
							alt="Kaizen"
						/>
						@if (!sidebarCollapsed.value) {
							<p class="sidebar__nav-item-label">Kaizen</p>
						}
					</a>
					<app-sub-menu
						label="Integrations"
						headerIcon="settings_applications"
						link="integrations"
						[collapsed]="!!sidebarCollapsed.value"
					>
						@for (integration of integrations$ | async; track integration.link) {
							<div
								class="sidebar__nav-item"
								[class]="{ 'sidebar__nav-item-active': false }"
								[class.collapsed-link]="sidebarCollapsed.value"
								[routerLinkActive]="['sidebar__nav-item-active']"
								[routerLinkActiveOptions]="{ exact: false }"
								[routerLink]="['integrations', integration.link]"
								matTooltipPosition="right"
								[matTooltip]="sidebarCollapsed.value ? integration.name : ''"
							>
								@if (!sidebarCollapsed.value) {
									<p class="sidebar__nav-item-label">
										{{ integration.name }}
									</p>
								}
								@if (sidebarCollapsed.value) {
									<p class="sidebar__nav-item-label">
										{{ integration.name.charAt(0) }}
									</p>
								}
							</div>
						}
						<button
							class="sidebar__create"
							[matTooltip]="sidebarCollapsed.value ? 'Connect Integrations' : ''"
							matTooltipPosition="right"
							routerLink="integrations"
						>
							<app-icon
								icon="add"
								[size]="20"
							></app-icon>
							@if (!sidebarCollapsed.value) {
								<p>New Integrations</p>
							}
						</button>
					</app-sub-menu>
					<app-sub-menu
						label="Teams"
						headerIcon="group"
						link="teams"
						[collapsed]="!!sidebarCollapsed.value"
					>
						@if (teams$ | async; as teams) {
							@for (team of teams; track teamsTrackBy($index, team)) {
								<div
									class="sidebar__nav-item"
									[class]="{ 'sidebar__nav-item-active': false }"
									[class.collapsed-link]="sidebarCollapsed.value"
									[routerLinkActive]="['sidebar__nav-item-active']"
									[routerLinkActiveOptions]="{ exact: false }"
									[routerLink]="['teams', team.id]"
									matTooltipPosition="right"
									[matTooltip]="sidebarCollapsed.value ? team.name : ''"
								>
									@if (!sidebarCollapsed.value) {
										<p class="sidebar__nav-item-label">
											{{ team.name }}
										</p>
									}
									@if (sidebarCollapsed.value) {
										<p class="sidebar__nav-item-label">
											{{ team.name.charAt(0) }}
										</p>
									}
								</div>
							}
						}
						<button
							class="sidebar__create"
							[matTooltip]="sidebarCollapsed.value ? 'New Team' : ''"
							matTooltipPosition="right"
							(click)="onCreateTeam()"
						>
							<app-icon
								icon="add"
								[size]="20"
							></app-icon>
							@if (!sidebarCollapsed.value) {
								<p>New Team</p>
							}
						</button>
					</app-sub-menu>
				</ul>
			</div>
		</aside>
	</section>
}
