<app-page-header value="Note Edit"></app-page-header>

<section class="page note">
  <div class="note__header">
    <button routerLink="../" class="note__back">
      <app-icon icon="keyboard_arrow_left" [size]="26"></app-icon>
    </button>
    <h4 *ngIf="selectedNote">{{ selectedNote.title }}</h4>
  </div>

  <main class="note__content">
    <form [formGroup]="form">
      <quill-editor
        formControlName="content"
        class="quill__editor"
        theme="snow"
        [modules]="quillConfig"
      ></quill-editor>
    </form>
  </main>
</section>
