@import 'vars';

h1 {
	font-size: 22px;
	font-weight: 500;
}

.events__toolbar {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
	overflow-x: auto;
	overflow-y: hidden;

	&-selector {
		padding: 8px 12px;
		border: 1px solid #ccc;
		border-radius: 8px;
		background: #fff;
		-webkit-appearance: none;
		appearance: none;
		padding-right: 32px;

		background-image: url('/assets/images/icons/arrow-down.svg');
		background-size: 24px;
		background-repeat: no-repeat;
		background-position: calc(100% - 6px) center;
	}

	&-left {
		display: flex;
		align-items: center;
		gap: 1rem;

		@media (max-width: $sm) {
			display: none;
		}
	}

	&-right {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}
