<ng-container *ngIf="column">
	<mat-expansion-panel
		(opened)="panelOpenState = true"
		(closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<span
					class="panel__color"
					[ngStyle]="{ 'background-color': column.color }"></span>
				{{ column.name }}
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="table_wrapper">
			<table
				mat-table
				[dataSource]="column.tasks">
				<caption></caption>

				<ng-container matColumnDef="id">
					<th
						mat-header-cell
						*matHeaderCellDef>
						#
					</th>
					<td
						mat-cell
						*matCellDef="let element">
						{{ element.id }}
					</td>
				</ng-container>

				<ng-container matColumnDef="title">
					<th
						mat-header-cell
						*matHeaderCellDef>
						Name
					</th>
					<td
						mat-cell
						*matCellDef="let element">
						{{ element.title }}
					</td>
				</ng-container>

				<ng-container matColumnDef="executor">
					<th
						mat-header-cell
						*matHeaderCellDef>
						Executor
					</th>
					<td
						mat-cell
						*matCellDef="let element">
						{{ element.executorMember?.fullName ?? 'Unassigned' }}
					</td>
				</ng-container>

				<ng-container matColumnDef="startDate">
					<th
						mat-header-cell
						*matHeaderCellDef>
						Start Date
					</th>
					<td
						mat-cell
						*matCellDef="let element">
						{{ element.startDate | date: 'EEEE, MMMM d' }}
					</td>
				</ng-container>

				<ng-container matColumnDef="endDate">
					<th
						mat-header-cell
						*matHeaderCellDef>
						Due Date
					</th>
					<td
						mat-cell
						*matCellDef="let element">
						<ng-container *ngIf="element.endDate; else emptyEndDate">
							{{ element.endDate | date: 'EEEE, MMMM d' }}
						</ng-container>

						<ng-template #emptyEndDate>Unset</ng-template>
					</td>
				</ng-container>

				<ng-container matColumnDef="priority">
					<th
						mat-header-cell
						*matHeaderCellDef>
						Priority
					</th>
					<td
						mat-cell
						*matCellDef="let element">
						{{ taskPriority(element) }}
					</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th
						mat-header-cell
						*matHeaderCellDef></th>
					<td
						mat-cell
						*matCellDef="let element">
						<app-task-more-menu [task]="element"></app-task-more-menu>
					</td>
				</ng-container>

				<tr
					mat-header-row
					*matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: displayedColumns"
					[routerLink]="[row.id]"></tr>
			</table>
		</div>
	</mat-expansion-panel>
</ng-container>
