@import 'vars';

:host {
	.toggle-icon {
		color: #838992;
		cursor: pointer;
		font-size: 24px;
		width: 24px;
		height: 24px;
	}
}

.mobile-sidebar__wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #00000077;
	z-index: 10;
}

.toggle_button {
	display: flex;
	align-items: center;
}

.mobile-sidebar {
	overflow-y: auto;
	height: 100%;
	padding: 20px 10px;
	background: $background-sidebar;

	&-close {
		position: absolute;
		right: 14px;
		top: 24px;
		z-index: 12;

		&-icon {
			font-size: 26px;
			width: 26px;
			height: 26px;
			color: #c5c5c5;
			cursor: pointer;
		}
	}
}
