@import "vars";

h1 {
  font-size: 22px;
  font-weight: 500;
}

.fav-posts {
  &__header {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
  }

  &__content {
    margin-top: 22px;
  }
}
