<aside class="sidebar">
  <div class="create_note">
    <h4>Recent Notes</h4>

    <button (click)="onCreateNote()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <form [formGroup]="searchForm" class="sidebar__search">
    <input placeholder="Search" class="sidebar__search-input" type="text" />
  </form>
  <div class="sidebar__list desktop">
    <div
      *ngFor="let note of notes"
      class="sidebar__item"
      [class.sidebar__item-active]="note.id === selectedNote?.id"
      (click)="onSelectNote(note)"
    >
      <div>{{ note.title }}</div>
    </div>
  </div>

  <div class="sidebar__list mobile">
    <div
      *ngFor="let note of notes; let i = index"
      class="sidebar__item"
      [routerLink]="note.id"
    >
      <div>{{ note.title }}</div>
    </div>
  </div>
</aside>
