@import "vars";

.desktop {
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.sidebar {
  width: 280px;
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid #f2f2f2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #ffffff;
  padding: 22px 0;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: $md) {
    border-right: none;
    width: 100%;
  }

  .sidebar__title {
    padding: 0px 22px;
    font-size: 22px;
    font-weight: 500;
  }

  &__list {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.mobile {
      @media (min-width: $md) {
        display: none;
      }
    }

    &.desktop {
      display: none;

      @media (min-width: $md) {
        display: flex;
      }
    }
  }

  &__item {
    display: flex;
    gap: 0.8rem;
    padding: 12px 12px;
    border-radius: 14px;
    cursor: pointer;

    &-active {
      background: $primary-light;
    }

    &:hover {
      background: #f5f5f5;
    }

    &-icon {
      width: 100%;
      max-width: 34px;
      height: 34px;
      border-radius: 9999px;
      background: #6668db;
    }

    &__details {
      flex: 1;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-label {
        font-weight: 500;
      }

      &-time {
        font-size: 12px;
        color: #7a7a7a;
      }
    }

    &-body {
      width: 100%;
      margin-top: 4px;
      font-size: 12px;
    }
  }

  &__search {
    padding: 0px 22px 22px;

    @media (max-width: $md) {
      padding: 12px 8px;
    }

    &-input {
      width: 100%;
      padding: 10px 16px;
      background: #f8f8f8;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
    }
  }
}
