@if (currentTrack; as track) {
	@if (expand) {
		<div class="spotify-player">
			<div class="spotify-player__info">
				<img
					class="spotify-player__info-img"
					[src]="track.album.images[0].url"
					[alt]="track.name"
					loading="lazy"
				/>
				<div class="spotify-player__info-details">
					<p class="spotify-player__info-song">{{ track.name }}</p>
					<p class="spotify-player__info-artist">
						{{ getArtistsNames(track.artists) }}
					</p>
				</div>
			</div>

			<audio
				controls
				autoplay
				class="spotify-player__external"
				[volume]="0.1"
				[src]="track.previewUrl"
			>
				Your browser does not support the audio element.
			</audio>

			<button
				class="spotify-player__close"
				(click)="toggleExpandPlayer()"
			>
				<mat-icon>close_fullscreen</mat-icon>
			</button>
		</div>
	}

	@if (!expand) {
		<button
			(click)="toggleExpandPlayer()"
			class="spotify-player-button"
		>
			<img
				src="assets/images/integrations/spotify.svg"
				alt="Spotify"
			/>
		</button>
	}
}
