<div class="post">
	<div class="post__header">
		<ngx-avatars
			src="api/v1/files/{{ post.authorTeamMember.avatarId }}"
			[name]="post.authorTeamMember.fullName"
			size="26"
			bgColor="#64748B"
		></ngx-avatars>

		<p class="post__header-author">{{ post.authorTeamMember.fullName }}</p>
		<p class="post__header-date">
			{{ post.createdDate | date: 'mediumDate' }}
		</p>
	</div>

	<h4
		class="post__title"
		[routerLink]="[post.id]"
	>
		{{ post.title }}
	</h4>

	<p
		class="post__description"
		[routerLink]="[post.id]"
	>
		{{ post.description }}
	</p>
</div>
