<div class="task__notes-item">
  <div class="task__notes-item-main">
    <div class="task__notes-item-header">
      <p class="task__notes-item-header-title">{{ note.authorFullName }}</p>
      <p class="task__notes-item-header-date">
        {{ note.createdDate | date : "MMM d, y" }}
      </p>
    </div>
    <div class="task__notes-item-body">
      {{ note.content }}
    </div>
  </div>

  <div class="task__notes-item-actions" *ngIf="isEditable">
    <mat-icon matTooltip="Delete" (click)="deleteNote(note.id)">
      delete
    </mat-icon>
  </div>
</div>
