@import "vars";

.sidebar {
  position: sticky;
  top: 0;
  width: 240px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #ffffff;
  border-radius: 8px;
  padding: 22px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-item {
      &-label {
        color: #8d8d8d;
        font-weight: 500;
      }

      &-value {
      }
    }
  }
}
