<aside class="sidebar">
  <h5 class="sidebar__title">Details</h5>

  <div class="sidebar__details">
    <div class="sidebar__details-item">
      <p class="sidebar__details-item-label">Status:</p>
      <p class="sidebar__details-item-value">In porgress</p>
    </div>

    <div class="sidebar__details-item">
      <p class="sidebar__details-item-label">Priority:</p>
      <p class="sidebar__details-item-value">Critical</p>
    </div>

    <div class="sidebar__details-item">
      <p class="sidebar__details-item-label">Executor:</p>
      <p class="sidebar__details-item-value">Diar Begisbayev</p>
    </div>
    <div class="sidebar__details-item">
      <p class="sidebar__details-item-label">Star date:</p>
      <p class="sidebar__details-item-value">11.09.2003</p>
    </div>

    <div class="sidebar__details-item">
      <p class="sidebar__details-item-label">End date:</p>
      <p class="sidebar__details-item-value">14.09.2003</p>
    </div>

    <div class="sidebar__details-item">
      <p class="sidebar__details-item-label">Tags:</p>
      <p class="sidebar__details-item-value">Development, Testing</p>
    </div>
  </div>

  <button mat-stroked-button class="sidebar__attached">Attached files</button>
</aside>
