<section class="filter">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filters</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="form" class="filter__fields">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" formControlName="searchValue" />
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Sorting</mat-label>
          <mat-select formControlName="sort">
            <mat-option
              *ngFor="let sort of sortings"
              [matTooltip]="sort"
              [value]="sort"
            >
              {{ sort }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>
