@import "vars";

.chats {
  &__content {
    background: #ffffff;
    position: relative;
    width: 100%;
    min-height: 100%;
  }

  &__navbar {
    padding: 14px 22px;
    border-bottom: 2px solid #f2f2f2;

    &-left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-back {
      mat-icon {
        color: #a3a3a3;
        width: 32px;
        height: 32px;
        font-size: 32px;
      }
    }

    &-name {
      font-size: 16px;
      font-weight: 700;
    }

    &-details {
      margin-top: 4px;
      font-size: 12px;
      color: #7a7a7a;
    }
  }

  &__messages {
    width: 100%;
    height: calc(100vh - 260px);
    overflow-y: auto;
    background: #f8f9fb;
    padding: 22px 22px 44px 22px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tabbar {
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px 22px;

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 22px;
    }

    &-input {
      width: 100%;
      padding: 10px 16px;
      background: #f8f8f8;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
    }

    &-send tui-svg:hover {
      color: $primary;
    }
  }
}
