<ng-container *ngIf="selectedChat$ | async as selectedChat">
  <div class="chats__content">
    <div class="chats__navbar">
      <div class="chats__navbar-left">
        <button
          class="chats__navbar-back"
          *ngIf="includeBackButton"
          [routerLink]="['../']"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="chats__navbar-header">
          <h3 class="chats__navbar-name">{{ selectedChat.label }}</h3>
          <p class="chats__navbar-details">23 members</p>
        </div>
      </div>
    </div>

    <div class="chats__messages" #chatsContainer>
      <app-chats-message
        *ngFor="let message of messages; let i = index"
        [message]="message"
        [prevMessage]="messages[i - 1]"
      ></app-chats-message>
    </div>

    <div class="chats__tabbar">
      <div class="chats__tabbar-wrapper">
        <input type="text" class="chats__tabbar-input" placeholder="Message" />
        <button type="button" class="chats__tabbar-send">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
