@import 'vars';

.chats {
	&__wrapper {
		height: 100%;
		padding: 16px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		background: #ffffff;
		border: 1px solid $border-color;
		border-radius: 8px;

		@media (max-width: $sm) {
			margin: 0;
		}
	}

	&__navbar {
		display: flex;
		justify-content: space-between;
		gap: 12px;
		align-items: center;
		padding: 14px 22px;
		border-bottom: 1px solid $border-color;

		&-left {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		&-back {
			mat-icon {
				color: #a3a3a3;
				width: 32px;
				height: 32px;
				font-size: 32px;
			}
		}

		&-name {
			font-size: 16px;
			font-weight: 700;
		}

		&-details {
			margin-top: 4px;
			font-size: 12px;
			color: #7a7a7a;
		}
	}

	&__messages {
		overflow-y: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 22px;

		&-wrapper {
			padding: 22px;
			overflow: hidden;
			flex: 1;
			background: #f8f8f8;
		}

		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__tabbar {
		background: #ffffff;
		padding: 14px 22px;
		border-top: 1px solid $border-color;

		@media (max-width: $sm) {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 22px;
		}

		&-input {
			width: 100%;
			padding: 10px 16px;
			background: #f8f8f8;
			border: 1px solid #f2f2f2;
			border-radius: 10px;
		}

		&-send tui-svg:hover {
			color: $primary;
		}
	}
}
