@if (topMembers$ | withLoading | async; as topMembers) {
	@if (topMembers.data) {
		<div class="dashboard__analytics-sidebar">
			<p class="dashboard__analytics-sidebar-title">Top members</p>

			<div class="dashboard__analytics-sidebar-list">
				@for (member of topMembers.data; track $index; let last = $last) {
					<div class="dashboard__analytics-member-item">
						<div class="dashboard__analytics-member-item-header">
							<div class="dashboard__analytics-member-item-avatar">
								<ngx-avatars
									src="api/v1/files/{{ member.member.avatarId }}"
									[name]="member.member.fullName"
									size="40"
									bgColor="#64748B"
								></ngx-avatars>
							</div>

							<div class="dashboard__analytics-member-item-details">
								<p class="dashboard__analytics-member-item-name">{{ member.member.fullName }}</p>
								<p class="dashboard__analytics-member-item-position">
									{{ member.member.position }}
								</p>
							</div>
						</div>

						<p class="dashboard__analytics-member-item-performance">
							{{ member.performance * 100 | number:'1.1-1'}} %
						</p>
					</div>

					@if (!last) {
						<span class="dashboard__analytics-sidebar-list-divider"></span>
					}
				}
			</div>
		</div>
	}

	@if (topMembers.loading || topMembers.error) {
		<ngx-skeleton-loader
			count="1"
			appearance="line"
			[theme]="{
				height: '100%',
				'min-height': '330px',
				'border-radius': '8px',
			}"
		/>
	}
}
