<div class="meetings__toolbar">
  <div class="meetings__toolbar-left">
    <!-- <button
      mat-stroked-button
      class="tasks__toolbar-item"
    >
      <mat-icon class="tasks__toolbar-icon">settings</mat-icon>
      <p>Customize</p>
    </button> -->

    <button mat-stroked-button class="meetings__toolbar-item">
      <mat-icon>download</mat-icon>
      <p>Export</p>
    </button>
  </div>

  <div class="meetings__toolbar-right">
    <button
      mat-flat-button
      color="primary"
      class="meetings__toolbar-itme"
      (click)="onCreateButtonClick($event)"
    >
      <mat-icon class="meetings__toolbar-icon">add</mat-icon>
      <p>Add new meeting</p>
    </button>
  </div>
</div>
