@import "vars";

.meetings__toolbar {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
