<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar__top">
    <div *ngIf="!collapsed" class="logo-wrapper">
      <h1 class="sidebar__logo">KAITEKI</h1>
      <tui-svg
        class="toggle-icon"
        src="tuiIconChevronsLeftLarge"
        (click)="toggleSidebar()"
      ></tui-svg>
    </div>

    <button *ngIf="collapsed" (click)="toggleSidebar()" class="toggle">
      <tui-svg class="toggle-icon" src="tuiIconChevronsRightLarge"></tui-svg>
    </button>

    <ul class="sidebar__nav-list">
      <li
        *ngFor="let page of sidebarPages"
        class="sidebar__nav-item"
        [class.collapsed-link]="collapsed"
        [routerLinkActive]="['sidebar__nav-item-active']"
        [routerLinkActiveOptions]="{ exact: false }"
        [routerLink]="[page.link]"
        tuiHintAppearance="onDark"
        tuiHintDirection="right"
        [tuiHintShowDelay]="100"
        [tuiHintHideDelay]="100"
        [tuiHint]="collapsed ? page.label : ''"
      >
        <tui-svg class="sidebar__nav-item-icon" [src]="page.icon"></tui-svg>
        <p class="sidebar__nav-item-label" *ngIf="!collapsed">
          {{ page.label }}
        </p>
      </li>

      <app-sub-menu
        label="Teams"
        headerIcon="tuiIconUsersLarge"
        link="teams"
        [collapsed]="collapsed"
      >
        <div
          *ngFor="let team of teams"
          class="sidebar__nav-item"
          [class]="{ 'sidebar__nav-item-active': false }"
          [routerLinkActive]="['sidebar__nav-item-active']"
          [routerLinkActiveOptions]="{ exact: false }"
          [routerLink]="['teams', team.name]"
          tuiHintAppearance="onDark"
          tuiHintDirection="right"
          [tuiHintShowDelay]="100"
          [tuiHintHideDelay]="100"
          [tuiHint]="collapsed ? team.name : ''"
        >
          <p class="sidebar__nav-item-label" *ngIf="!collapsed">
            {{ team.name }}
          </p>
          <p class="sidebar__nav-item-label" *ngIf="collapsed">
            {{ team.name.charAt(0) }}
          </p>
        </div>
      </app-sub-menu>
    </ul>
  </div>
</aside>
