@import "vars";

:host {
  button {
    padding: 0rem !important;
  }
}

.sidebar {
  width: 280px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px;
  background: $background-sidebar;

  @media (max-width: $sm) {
    display: none;
  }

  &__wrapper {
    height: 100vh;
  }

  &__logo {
    font-family: "Sarpanch", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0 20px;
    cursor: pointer;
    color: #f9fafe;
  }

  &__nav {
    &-list {
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;
      color: #f9fafe;
      padding: 10px 20px;
      border-radius: 8px;

      &:hover {
        background: $primary-light;
      }

      &-label {
        font-size: 14px;
      }

      &-active {
        background: $primary;

        &:hover {
          background: $primary-light;
        }
      }

      &-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.collapsed {
  width: 100%;
}

.collapsed-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  &-button {
    width: 100%;
  }

  &-icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
    color: #f9fafe;
    cursor: pointer;
  }
}
