@import "vars";

:host {
  button {
    padding: 0rem !important;
  }
}

.sidebar {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  border-right: 2px solid #f2f2f2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #ffffff;

  @media (max-width: $sm) {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__logo {
    font-family: "Sarpanch", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0 20px;
    cursor: pointer;
  }

  &__nav {
    &-list {
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;
      color: #4f5258;
      padding: 10px 20px;
      border-radius: 8px;

      &:hover {
        background: #f1f1f1;
      }

      &-label {
        font-size: 14px;
      }

      &-active {
        color: #ffff;
        background: $primary;
        font-weight: 500;

        &:hover {
          color: #ffff;
          background: $primary-light;
        }
      }

      &-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.collapsed {
  width: 100%;
}

.collapsed-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  height: 30px;

  &:hover {
    background: #f1f1f1;
  }

  &-icon {
    cursor: pointer;
    color: #303030;
  }
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover {
  visibility: visible;
}
