<aside class="sidebar">
  <div class="sidebar__top">
    <h1 class="sidebar__logo">KAITEKI</h1>

    <ul class="sidebar__nav-list">
      <li class="sidebar__nav-item sidebar__nav-item-active">
        <tui-svg
          class="sidebar__nav-item-icon"
          src="tuiIconGridLarge"
        ></tui-svg>
        <p class="sidebar__nav-item-label">Overview</p>
      </li>
      <li class="sidebar__nav-item">
        <tui-svg
          class="sidebar__nav-item-icon"
          src="tuiIconBarChartLarge"
        ></tui-svg>
        <p class="sidebar__nav-item-label">Analytics</p>
      </li>
      <li class="sidebar__nav-item">
        <tui-svg
          class="sidebar__nav-item-icon"
          src="tuiIconShoppingCartLarge"
        ></tui-svg>
        <p class="sidebar__nav-item-label">Orders</p>
      </li>
      <li class="sidebar__nav-item">
        <tui-svg
          class="sidebar__nav-item-icon"
          src="tuiIconUsersLarge"
        ></tui-svg>
        <p class="sidebar__nav-item-label">Customers</p>
      </li>
    </ul>

    <tui-accordion [rounded]="false">
      <tui-accordion-item
        class="sidebar__accordion"
        [disableHover]="true"
        [borders]="null"
        [noPadding]="true"
      >
        <div class="sidebar__accordion-header">
          <tui-svg
            class="sidebar__accordion-icon"
            src="tuiIconHomeLarge"
          ></tui-svg>
          <p class="sidebar__accordion-label">Teams</p>
        </div>

        <ng-template tuiAccordionItemContent>
          Development kit consisting of the low level tools and abstractions
          used to develop Taiga UI Angular entities
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>

  <div class="sidebar__bottom sidebar__nav-list">
    <div class="sidebar__nav-item">
      <tui-svg
        class="sidebar__nav-item-icon"
        src="tuiIconSettingsLarge"
      ></tui-svg>
      <p class="sidebar__nav-item-label">Settings</p>
    </div>
    <div class="sidebar__nav-item">
      <tui-svg
        class="sidebar__nav-item-icon"
        src="tuiIconLogOutLarge"
      ></tui-svg>
      <p class="sidebar__nav-item-label">Log Out</p>
    </div>
  </div>
</aside>
