<section class="page">
  <app-meetings-toolbar></app-meetings-toolbar>

  <app-meetings-filter (onFilter)="onFilter($event)"></app-meetings-filter>

  <div class="meetings__content" *ngIf="meetings$ | async as meetings">
    <ng-container [ngSwitch]="filter.view">
      <app-meetings-list-view
        *ngSwitchCase="views.LIST"
        [meetings]="meetings"
      ></app-meetings-list-view>

      <app-meetings-calendar-view
        *ngSwitchCase="views.CALENDAR"
        [meetings]="meetings"
      ></app-meetings-calendar-view>
    </ng-container>
  </div>
</section>
