@if (column) {
	<div class="column">
		<div
			class="column__header"
			[ngStyle]="{ 'border-bottom': getColumnBorderBottomStyle }"
		>
			<h4 class="column__header-title">{{ column.name }} ({{ getColumnTasksCount }})</h4>
			<div class="column__header-toolbar">
				<button (click)="onAddButtonClick()">
					<mat-icon>add</mat-icon>
					<p>Add</p>
				</button>
			</div>
		</div>
		<div
			class="column__container"
			cdkDropList
			[id]="getColumnStringId"
			[cdkDropListConnectedTo]="connectedColumns"
			[cdkDropListData]="column.tasks"
			(cdkDropListDropped)="onDrop($event)"
		>
			@for (task of column.tasks; track task.id) {
				<app-kanban-item [task]="task"></app-kanban-item>
			}
		</div>
	</div>
}
