@import "vars";

.container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  font-family: $primary-ff, sans-serif;
  font-size: $text-sm;
  color: black;
  position: relative;
  background: #F8F9FB;
}

.content__wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
