@import "vars";

.container {
  display: flex;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: $text-sm;
  color: black;
  position: relative;
  background: rgb(255, 255, 255);

  @media (min-width: $md) {
    font-size: $text-base;
  }
}

.content__wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
