@import "vars";

.container {
  display: flex;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: $text-sm;
  color: black;
  background: rgb(255, 255, 255);

  @media (min-width: $md) {
    font-size: $text-base;
  }
}

.content__wrapper {
  flex: 1;
}

.content {
  padding: 16px 30px;
}
