@import "vars";

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
  background: #fff;
  color: $text-black;
  z-index: 5;
  gap: 12px;

  @media (max-width: $sm) {
    padding: 12px;
  }

  &__header {
    font-weight: 500;
    font-size: 20px;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 22px;

    @media (max-width: $sm) {
      gap: 8px;
    }
  }

  &__search {
    @media (max-width: $sm) {
      display: none;
    }

    &-input {
      width: 400px;
      padding: 8px 14px;
      border: 1px solid #4f4f52;
      border-radius: 8px;
      color: $text-white;
    }
  }

  &__mobile-toggle {
    display: none;

    @media (max-width: $sm) {
      display: block;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: $sm) {
      gap: 6px;
    }

    &-icons {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  mat-menu {
    border-radius: 20px;
  }

  &__notification {
    padding: 16px;

    &-header {
      font-family: $primary-ff, sans-serif;
      font-weight: 500;
      font-size: 16px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-family: $primary-ff, sans-serif;
      margin-top: 12px;
    }

    &-item {
      cursor: pointer;
    }
  }

  &__avatar {
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      padding: 6px 10px;
      border-radius: 10px;

      &:hover {
        background: $background-light;
      }
    }

    &-img {
      width: 34px;
      height: 34px;
      border-radius: 9999px;
      object-fit: cover;

      @media (max-width: $sm) {
        width: 26px;
        height: 26px;
      }
    }

    &-icon {
      cursor: pointer;
      color: #494949;
    }

    &-label {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__sidebar-toggle {
    display: flex;
    align-items: center;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }
}

.bg-icon {
  background: $background-light;
  padding: 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.bell-icon {
  color: #464646;
  font-size: 20px;
  width: 20px;
  height: 20px;
}
