@import 'vars';

mat-form-field {
	width: 100%;
}

:host ::ng-deep {
	.ql-toolbar.ql-snow {
		border-radius: 6px 6px 0 0;
		background: #fff;
		padding: 16px;
		border: 1px solid #8e8e94;
	}

	.ql-editor {
		padding: 16px;
		min-height: 300px;

		& p {
			color: $text-black;
		}
	}

	.ql-editor.ql-blank::before {
		font-style: normal;
	}

	.ql-container.ql-snow {
		background: #fff;
		border-radius: 0 0 6px 6px;
		border: 1px solid #8e8e94;
	}
}

.ctask {
	&__title {
		font-size: 20px;
		font-weight: 500;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-top: 22px;

		&-toolbar {
			display: flex;
			align-items: center;
			gap: 12px;
		}
	}

	&__ai {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 12px 14px;
		margin-bottom: 8px;
		color: $text-black;
		border-radius: 8px;
		font-weight: 500;

		&:hover {
			background: #f1f5f9;
		}

		& span {
			color: #94a3b8;
			font-weight: 400;
			font-size: 12px;
		}

		& img {
			width: 18px;
			height: 18px;
		}
	}
}

.row {
	display: flex;
	gap: 22px;
}

.quill {
	&__editor {
		width: 100%;
		margin-bottom: 1.6rem;
	}
}
