.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
}

.variant {
  &-solid {
    background-color: var(--tui-primary);
    color: #fafafa;
  }

  &-outline {
    border: 1px solid #e5e7eb;
    &:hover {
      background-color: #edf2f7;
    }
  }

  &-light {
    background-color: #edf2f7;

    &:hover {
      background-color: #f7fafc;
    }
  }
}
