@import 'vars';

.button {
	padding: 0.5rem 1rem;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 10px;
	overflow: hidden;

	text-wrap: nowrap;
	text-overflow: ellipsis;

	&__icon {
		font-size: 18px;
		width: 18px;
		height: 18px;
	}
}

.variant {
	&-solid {
		background-color: $primary;
		color: #fafafa;
	}

	&-outline {
		border: 1px solid #e2e8f0;

		&:hover {
			background: #f1f5f9;
		}
	}

	&-light {
		background: #ffffff;
		border: 1px solid #e2e8f0;

		&:hover {
			background: #f1f5f9;
		}
	}

	&-none {
		background: unset;
		border: unset;
		color: $text-black;
	}
}
