<section class="page">
  <div class="vtask__wrapper">
    <div class="vtask__left">
      <main class="vtask__content">
        <div class="vtask__header">
          <h2 class="vtask__header-title">Develop</h2>
          <p class="vtask__header-subtitle">Task #232</p>
        </div>

        <div class="vtask__description">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ex
            illum recusandae, eligendi, porro impedit excepturi dolorem non,
            consequuntur quia sit quibusdam eos facilis dolores delectus
            corrupti culpa vel fugit. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Cumque ex illum recusandae, eligendi, porro
            impedit excepturi dolorem non, consequuntur quia sit quibusdam eos
            facilis dolores delectus corrupti culpa vel fugit.
          </p>
        </div>
      </main>

      <div class="vtask__comments">
        <h4 class="vtask__comments-title">Comments</h4>
        <div class="vtask__comments-list">
          <p>Comment 1</p>
        </div>
      </div>
    </div>

    <app-task-details-sidebar></app-task-details-sidebar>
  </div>
</section>
