<div class="notification">
	<div class="notification__header">
		<p class="notification__header-title">Notifications</p>
		<button class="notification__header-button">Mark all as read</button>
	</div>

	<div class="notification__separator"></div>

	<ul class="notification__list">
		<li class="notification__item">
			<ngx-avatars
				name="Polly Winston"
				size="40"
				bgColor="#64748B"
			></ngx-avatars>

			<div class="notification__item-details">
				<p class="notification__item-details-message">Polly edited Contact page</p>
				<p class="notification__item-details-info">36 mins ago <span>-</span> DAR</p>
			</div>
		</li>

		<li class="notification__item">
			<ngx-avatars
				name="Polly Winston"
				size="40"
				bgColor="#64748B"
			></ngx-avatars>

			<div class="notification__item-details">
				<p class="notification__item-details-message">Polly edited Contact page</p>
				<p class="notification__item-details-info">36 mins ago <span>-</span> DAR</p>
			</div>
		</li>

		<li class="notification__item">
			<ngx-avatars
				name="Polly Winston"
				size="40"
				bgColor="#64748B"
			></ngx-avatars>

			<div class="notification__item-details">
				<p class="notification__item-details-message">Polly edited Contact page</p>
				<p class="notification__item-details-info">36 mins ago <span>-</span> DAR</p>
			</div>
		</li>
	</ul>
</div>
