<app-page-header value="Spotify"></app-page-header>

<section class="page spotify-home">
	<div class="spotify-wrapper">
		@if (playlists$ | withLoading | async; as playlists) {
			@if (playlists.data) {
				@if (playlists.data.savedPlaylists) {
					<div class="spotify-playlists">
						<h2 class="spotify-playlists__title">Your playlists</h2>

						<div class="spotify-playlists__list">
							@for (playlist of playlists.data.savedPlaylists; track playlist.id) {
								<app-dashboard-playlist-item [playlist]="playlist"></app-dashboard-playlist-item>
							}
						</div>
					</div>
				}

				@if (playlists.data.chillPlaylists) {
					<div class="spotify-playlists">
						<h2 class="spotify-playlists__title">Chill Mood</h2>

						<div class="spotify-playlists__list">
							@for (playlist of playlists.data.chillPlaylists; track playlist.id) {
								<app-dashboard-playlist-item [playlist]="playlist"></app-dashboard-playlist-item>
							}
						</div>
					</div>
				}

				@if (playlists.data.trendingPlaylists) {
					<div class="spotify-playlists">
						<h2 class="spotify-playlists__title">Trending</h2>

						<div class="spotify-playlists__list">
							@for (playlist of playlists.data.trendingPlaylists; track playlist.id) {
								<app-dashboard-playlist-item [playlist]="playlist"></app-dashboard-playlist-item>
							}
						</div>
					</div>
				}
			}

			@if (playlists.loading) {
				<div class="spotify-loading">
						<ngx-skeleton-loader
							count="1"
							appearance="line"
							[theme]="{
								height: '50px',
								width: '580px',
								'border-radius': '8px'
							}"
						/>
						<div class = "spotify-skeleton-row">
						@for (skeleton of skeletonArray; track $index) {
								<ngx-skeleton-loader
									count="1"
									appearance="line"
									[theme]="{
										height: '177px',
										width: '185px',
										'border-radius': '8px',
									}"
								/>
						}
					</div>
				</div>
			}

			@if (playlists.error) {
				<div class="spotify__error page">
					<h1 class="spotify__error-title">404</h1>
					<div class="spotify__error-content">
						<h2 class="spotify__error-subtitle">
							Oops.. <br />
							We couldn't find playlists that you are looking for.
						</h2>
						<button
							mat-flat-button
							color="primary"
							routerLink="/hub/overview"
						>
							<a routerLink="/hub/overview">Return Back</a>
						</button>
					</div>
				</div>
			}
		}
	</div>
</section>
