@import 'vars';

.spotify-home {
	display: flex;
	justify-content: center;
}

.spotify-wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;

	gap: 40px;

	@media screen and (max-width: $md) {
		width: 100%;
	}
}

.spotify-playlists {
	&__title {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		column-gap: 24px;
		row-gap: 30px;

		overflow-x: auto;

		@media screen and (max-width: $sm) {
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		}
	}
}
