@import 'vars';

.spotify-home {
	display: flex;
	justify-content: center;
}

.spotify-wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;

	gap: 40px;

	@media screen and (max-width: $md) {
		width: 100%;
	}
}

.spotify-playlists {
	&__title {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		column-gap: 24px;
		row-gap: 30px;

		overflow-x: auto;

		@media screen and (max-width: $sm) {
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		}
	}
}

.spotify-loading{
	display: grid;
	grid-template-rows: none;
}

.spotify-skeleton-row{
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.spotify__error {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: 20%;

	&-content {
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-title {
		color: #d8d7d7;
		font-size: 280px;
		font-weight: 600;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		opacity: 0.25;

		@media screen and (max-width: $md) {
			font-size: 180px;
		}
	}

	&-subtitle {
		color: #000;
		font-size: 26px;
		margin-bottom: 26px;
		text-align: center;
		line-height: 1.4;

		@media screen and (max-width: $md) {
			font-size: 20px;
		}
	}
}
