<app-page-header value="Spotify"></app-page-header>

<section class="page spotify-home">
	<div class="spotify-wrapper">
		@if (playlists$ | withLoading | async; as playlists) {
			@if (playlists.data) {
				@if (playlists.data.savedPlaylists) {
					<div class="spotify-playlists">
						<h2 class="spotify-playlists__title">Your playlists</h2>

						<div class="spotify-playlists__list">
							@for (playlist of playlists.data.savedPlaylists; track playlist.id) {
								<app-dashboard-playlist-item [playlist]="playlist"></app-dashboard-playlist-item>
							}
						</div>
					</div>
				}

				@if (playlists.data.chillPlaylists) {
					<div class="spotify-playlists">
						<h2 class="spotify-playlists__title">Chill Mood</h2>

						<div class="spotify-playlists__list">
							@for (playlist of playlists.data.chillPlaylists; track playlist.id) {
								<app-dashboard-playlist-item [playlist]="playlist"></app-dashboard-playlist-item>
							}
						</div>
					</div>
				}

				@if (playlists.data.trendingPlaylists) {
					<div class="spotify-playlists">
						<h2 class="spotify-playlists__title">Trending</h2>

						<div class="spotify-playlists__list">
							@for (playlist of playlists.data.trendingPlaylists; track playlist.id) {
								<app-dashboard-playlist-item [playlist]="playlist"></app-dashboard-playlist-item>
							}
						</div>
					</div>
				}
			}

			@if (playlists) {
				<div class="spotify-loading">Loading</div>
			}

			@if (playlists.error) {
				<div class="spotify-error">Error</div>
			}
		}
	</div>
</section>
