@import "vars";

mat-form-field {
  width: 100%;
}

.dinvite {
  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__candidates {
    margin-top: 16px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__empty {
    display: flex;
    justify-content: center;
    margin: 14px 0;
    text-transform: capitalize;
    color: #bdbdbd;
  }
}
