<h4
	mat-dialog-title
	class="dinvite__title"
>
	Invitation
</h4>

<mat-dialog-content>
	<p class="dinvite__description">Anyone who has this link can join your team</p>

	<div class="dinvite__content">
		@if (invitationLink$ | async; as invitationLink) {
			<div class="dinvite__link-container">
				<p class="dinvite__link">
					{{ invitationLink.link }}
				</p>
			</div>
		}

		<button
			class="dinvite__copy-link"
			(click)="onCopyLinkClick()"
		>
			<mat-icon>content_copy</mat-icon>
		</button>
	</div>
</mat-dialog-content>

<mat-dialog-actions
	align="end"
	class="dinvite__actions"
>
	<button
		type="submit"
		mat-flat-button
		color="primary"
		(click)="onSubmit()"
	>
		Done
	</button>
</mat-dialog-actions>
