<div class="playlist-song">
  <div class="playlist-song__left">
    <p class="playlist-song-number">1</p>

    <img class="playlist-song-img" [src]="'Url'" alt="" />

    <div class="playlist-song__details">
      <p class="playlist-song-name">Wanna be yours</p>
      <p class="playlist-song-artist">Arctic Monkeys</p>
    </div>
  </div>

  <div class="playlist-song__right">
    <p class="playlist-song-album">AM</p>
    <p class="playlist-song-date">15 hours ago</p>
    <p class="playlist-song-duration">3:18</p>
  </div>
</div>
