<div class="playlist-song" *ngIf="song">
  <div class="playlist-song__left">
    <p class="playlist-song-number">{{ order }}</p>

    <img class="playlist-song-img" [src]="'Url'" alt="" />

    <div class="playlist-song__details">
      <p class="playlist-song-name">{{ song.song }}</p>
      <p class="playlist-song-artist">{{ song.artist }}</p>
    </div>
  </div>

  <div class="playlist-song__right">
    <p class="playlist-song-album">{{ song.album }}</p>
    <p class="playlist-song-date">{{ song.createdAt }}</p>
    <p class="playlist-song-duration">
      {{ convertSecondsToMinuteString(song.duration) }}
    </p>
  </div>
</div>
