<section class="filter">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Filters</mat-panel-title>
			</mat-expansion-panel-header>
			<form
				[formGroup]="form"
				class="filter__fields"
			>
				<!-- Search -->
				<mat-form-field appearance="outline">
					<mat-label>Search</mat-label>
					<input
						matInput
						formControlName="searchValue"
						type="text"
					/>
				</mat-form-field>

				<!-- Period -->
				<mat-form-field appearance="outline">
					<mat-label>Period</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input
							matStartDate
							formControlName="startDate"
							placeholder="Start date"
						/>
						<input
							matEndDate
							formControlName="endDate"
							placeholder="End date"
						/>
					</mat-date-range-input>

					<mat-datepicker-toggle
						matIconSuffix
						[for]="picker"
					></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</mat-form-field>

				<!-- View -->
				<mat-form-field appearance="outline">
					<mat-label>View</mat-label>
					<mat-select formControlName="view">
						@for (view of views; track view) {
							<mat-option
								[matTooltip]="view.label"
								[value]="view.id"
							>
								{{ view.label }}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>

				<!-- Status -->
				<mat-form-field appearance="outline">
					<mat-label>View</mat-label>
					<mat-select formControlName="status">
						@for (status of statuses; track status) {
							<mat-option
								[matTooltip]="status.label"
								[value]="status.id"
							>
								{{ status.label }}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>

				<!-- Participants -->
				@if (allTeamMembers$ | async; as allTeamMembers) {
					<mat-form-field appearance="outline">
						<mat-label>Participants</mat-label>
						<mat-select
							formControlName="invitedMemberIds"
							multiple
						>
							@for (participant of allTeamMembers; track participant) {
								<mat-option
									[matTooltip]="participant.fullName"
									[value]="participant.id"
								>
									{{ participant.fullName }}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
				}

				<!-- Sort -->
				<mat-form-field appearance="outline">
					<mat-label>Sorting</mat-label>
					<mat-select formControlName="sort">
						@for (sort of sorting; track sort) {
							<mat-option
								[matTooltip]="sort.label"
								[value]="sort.id"
							>
								{{ sort.label }}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</section>
