<app-page-header value="Kaizen"></app-page-header>

<section class="page kaizen">
	<ng-container *ngIf="!isVoiceAssistantMode()">
		<div class="kaizen__messages-wrapper">
			<div class="kaizen__messages">
				<div
					class="kaizen__slogan"
					*ngIf="!userRequest"
				>
					<img
						src="/assets/images/icons/kaizen-logo.svg"
						alt="Kaizen"
						class="kaizen__slogan-logo"
					/>

					<span class="kaizen__slogan-title">
						Unlock the power of AI with Kaizen.
					</span>
					<span class="kaizen__slogan-subtitle">
						Your questions answered, your tasks automated.
					</span>
				</div>

				<div
					class="kaizen__request"
					*ngIf="userRequest"
				>
					<p class="kaizen__request-author">You</p>
					<div class="kaizen__request-box">
						<p class="kaizen__request-box-text">
							{{ userRequest }}
						</p>
					</div>
				</div>

				<ngx-skeleton-loader
					count="1"
					appearance="line"
					[theme]="{ height: '200px', 'border-radius': '8px' }"
					*ngIf="isLoading && !userResponse"
				/>

				<div
					class="kaizen__response"
					*ngIf="userResponse"
				>
					<div class="kaizen__response-header">
						<p class="kaizen__response-author">Kaizen</p>
						<img
							src="/assets/images/icons/kaizen-sparkles.svg"
							alt="sparkles"
						/>
					</div>

					<div class="kaizen__response-box">
						<p class="kaizen__response-box-text">
							{{ userResponse }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="isVoiceAssistantMode()">
		<div class="kaizen__voice">Currently under development</div>
	</ng-container>

	<form
		class="kaizen__toolbar"
		[formGroup]="form"
	>
		<select
			class="kaizen__toolbar-modes"
			formControlName="mode"
		>
			<option
				*ngFor="let mode of modeOptions"
				[value]="mode.id"
			>
				{{ mode.label }}
			</option>
		</select>

		<input
			type="text"
			class="kaizen__toolbar-input"
			placeholder="Enter prompt"
			formControlName="prompt"
		/>

		<button
			class="kaizen__toolbar-button"
			type="submit"
			[disabled]="form.invalid"
			(click)="onSubmit()"
		>
			<mat-icon>send</mat-icon>
		</button>
	</form>
</section>
