@import 'vars';

.banner {
	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 50%;
	}

	&__title {
		margin-top: 18px;
		font-weight: 700;
		font-size: 1.8rem;
		text-align: center;
		line-height: 1.2;
		color: #0b3d0b;

		@media (min-width: $md) {
			font-size: 4rem;
		}
	}

	&__subtitle {
		margin-top: 1rem !important;
		font-size: 0.75rem;
		text-align: center;

		@media (min-width: $md) {
			margin-top: 1.4rem !important;
			color: #808f80;
			line-height: 1.6;
			font-weight: 500;
			font-size: 1rem;
		}
	}

	&__ai {
		cursor: pointer;
		border-radius: 9999px;
		padding: 6px 14px;
		font-size: 12px;
		background: #7585731e;
		color: #669e66;
		font-weight: 500;

		&:hover {
			color: #598b59;
		}
	}

	&__action {
		display: flex;
		justify-content: center;
		margin-top: 2rem;

		&-try {
			padding: 12px 24px;
			border-radius: 16px;
			background: #fff;
			color: $primary;
			font-weight: 500;
		}
	}
}
