@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// Styles
@import './assets/styles/container';
@import './assets/styles/mixins';
@import './assets/styles/vars';
@import './assets/styles/theme';
@import './assets/styles/reset';
@import '../node_modules/quill/dist/quill.snow.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

@include mat.core();
@include mat.all-component-themes($kaiteki-frontend-theme);
@include mat.button-typography($kaiteki-frontend-typography);
@include mat.typography-hierarchy($kaiteki-frontend-typography);
@include mtx.all-component-themes($kaiteki-frontend-theme);

:root {
	.mat-typography p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}

	.mat-mdc-menu-content {
		padding: 0px;
	}

	.page {
		width: 100%;
		padding: 22px;

		@media (max-width: $sm) {
			padding: 16px 8px;
		}
	}

	.mat-mdc-dialog-container .mdc-dialog__surface {
		border-radius: 8px;
	}

	.mat-accordion .mat-expansion-panel:not(.mat-expanded),
	.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
		border-radius: 6px;
	}

	.mat-expansion-panel:not([class*='mat-elevation-z']) {
		box-shadow: none;
		border: 1px solid #e9e9e9;
	}

	.mat-elevation-z8,
	.mat-mdc-elevation-specific.mat-elevation-z8 {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	.mat-mdc-select-arrow {
		width: 22px;
		height: 22px;
	}

	.mdc-dialog .mdc-dialog__content {
		padding: 0 22px;
	}

	.mdc-dialog__title {
		padding: 0 22px 12px;
	}

	mat-dialog-actions {
		padding: 22px;
	}
}
