<div class="meeting-room">
  <div class="meeting-room__left">
    <div class="meeting-room__main">
      <div class="meeting-room__main-header">
        <!-- <button class="meeting-room__main-header-back">
          <mat-icon class="">navigate_before</mat-icon>
        </button> -->
        <h4 class="meeting-room__main-title">
          Ever Weekly Meet, 15 June 2023
          sadbnasdhadbasdhasdabdasbdbasdbasbdasbdasbbasdbasbdabd
        </h4>
        <button class="meeting-room__main-header-more">
          <mat-icon class="">more_vert</mat-icon>
        </button>
      </div>

      <div class="meeting-room__main-content">
        <div class="meeting-room__main-content-view"></div>
      </div>

      <div class="meeting-room__main-others">
        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Daffana Grafana</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Alexander Mackdonalds</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Alexander Mackdonalds</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Daffana Grafana</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Alexander Mackdonalds</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Alexander Mackdonalds</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Daffana Grafana</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Alexander Mackdonalds</p>
        </div>

        <div class="meeting-room__main-others-member">
          <div class="meeting-room__main-others-view"></div>
          <p class="meeting-room__main-others-name">Alexander Mackdonalds</p>
        </div>
      </div>

      <div class="meeting-room__main-toolbar">
        <div class="meeting-room__main-toolbar-buttons">
          <button class="meeting-room__main-toolbar-button">
            <mat-icon>videocamera</mat-icon>
          </button>
          <button class="meeting-room__main-toolbar-button">
            <mat-icon>mic</mat-icon>
          </button>
          <button class="meeting-room__main-toolbar-button">
            <mat-icon>screen_share</mat-icon>
          </button>
        </div>

        <button class="meeting-room__main-toolbar-leave">
          <mat-icon>navigate_before</mat-icon>
          <p>Leave Meeting</p>
        </button>
      </div>
    </div>
  </div>

  <div class="meeting-room__right">
    <div class="meeting-room__particapants">
      <h4 class="meeting-room__particapants-title">Particapant</h4>
      <div class="meeting-room__particapants-list">
        <div class="meeting-room__particapants-item">
          <div class="meeting-room__particapants-item-avatar"></div>
          <p class="meeting-room__particapants-item-name">Daffa Ganteg</p>
        </div>
        <div class="meeting-room__particapants-item">
          <div class="meeting-room__particapants-item-avatar"></div>
          <p class="meeting-room__particapants-item-name">Albert Houstan</p>
        </div>
      </div>
    </div>
  </div>
</div>
