@import 'vars';

.teams-sidebar {
	&__wrapper {
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 2;
		padding: 12px 24px 16px;
		gap: 12px;
		overflow: auto;
		background-color: #fff;
		border-bottom: 1px solid #eef3f0;

		@media screen and (max-width: $sm) {
			padding: 12px 12px 0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		cursor: pointer;
		color: rgba(0, 0, 0, 0.8);
		background-color: rgb(241, 244, 247);
		border-radius: 8px;
		padding: 6px 16px;

		@media screen and (max-width: $sm) {
			padding: 8px 16px;
		}

		&-icon {
			font-size: 18px;
			width: 18px;
			height: 18px;
		}

		&-active {
			* {
				background-color: $primary;
				color: #fff;
			}
		}
	}
}
