@import 'vars';

:host ::ng-deep {
	.mat-mdc-tab-link-container {
		overflow-x: auto;
		padding-bottom: 8px;
	}

	.mat-mdc-tab-link:not(.mdc-tab--stacked) {
		height: unset;
	}

	.mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
		display: none;
	}

	.mdc-tab {
		padding: 0;
	}

	.mat-mdc-tab-links {
		display: flex;
		gap: 12px;
		padding: 0;
	}
}

.teams-sidebar {
	&__wrapper {
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 2;
		padding: 12px 24px 8px;
		gap: 12px;
		overflow: auto;
		background-color: #fff;
		border-bottom: 1px solid #eef3f0;

		@media screen and (max-width: $sm) {
			padding: 12px 12px 0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		cursor: pointer;
		color: #414141;
		background-color: #f2f7fa;
		border-radius: 8px;
		padding: 10px 16px;

		@media screen and (max-width: $sm) {
			padding: 8px 16px;
		}

		&-icon {
			font-size: 18px;
			width: 18px;
			height: 18px;
		}

		&-active {
			* {
				background-color: $primary;
				color: #fff;
			}
		}
	}
}
