@import "vars";

.vf {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    display: flex;
    justify-content: center;

    & mat-icon {
      font-size: 80px;
      width: 80px;
      height: 80px;
      color: green;
    }
  }

  &__title {
    margin-top: 40px !important;
    font-size: 42px;
    font-weight: 600;
    color: $primary;
    color: green;
  }

  &__text {
    margin-top: 30px !important;
  }

  &__button {
    margin-top: 40px;
    padding: 10px 24px;
    border: 1px solid #a5a5a5;
    color: $text-black;
    border-radius: 4px;
  }
}

.error {
  color: #df2d2d;

  & mat-icon {
    color: #df2d2d;
  }
}
