<div class="navbar">
	<div class="navbar__left">
		<button
			class="navbar__sidebar-toggle"
			(click)="toggleDesktopSidebar()"
		>
			<app-icon
				icon="menu"
				[size]="26"
			></app-icon>
		</button>
		<app-mobile-sidebar class="navbar__mobile-toggle"></app-mobile-sidebar>
		<h1 class="navbar__header">{{ header$ | async }}</h1>
	</div>

	<div class="navbar__right">
		<div class="navbar__right-icons">
			<button
				class="navbar__right-ai"
				routerLink="/hub/kaizen"
			>
				<img
					src="/assets/images/icons/kaizen-sparkles-gradient.svg"
					alt="sparkles"
				/>
				<p>Ask AI</p>
			</button>

			<!-- <button [matMenuTriggerFor]="notificationMenu">
				<div class="bg-icon">
					<mat-icon class="bell-icon">notifications</mat-icon>
				</div>
			</button> -->

			<mat-menu
				#notificationMenu="matMenu"
				class="navbar__notifications"
			>
				<app-notifications></app-notifications>
			</mat-menu>
		</div>

		@if (user$ | async; as user) {
			<button [matMenuTriggerFor]="profileDropdown">
				<div class="navbar__avatar-wrapper">
					<ngx-avatars
						src="api/v1/files/{{ user.avatarId }}"
						[name]="user.fullName"
						size="30"
						bgColor="#64748B"
					></ngx-avatars>

					<p class="navbar__avatar-label">{{ user.firstname }}</p>
				</div>
			</button>
			<mat-menu
				#profileDropdown="matMenu"
				yPosition="below"
			>
				<button
					mat-menu-item
					(click)="onLogout()"
				>
					<mat-icon>logout</mat-icon>
					<p>Log Out</p>
				</button>
			</mat-menu>
		}
	</div>
</div>
