<div class="wrapper">
    <div class="list">
      <div class="item item-active">
        <tui-svg class="item-icon" src="tuiIconListLarge"></tui-svg>
        <p class="item-label">Tasks</p>
      </div>
  
      <div class="item">
        <tui-svg class="item-icon" src="tuiIconMessageCircleLarge"></tui-svg>
        <p class="item-label">Chats</p>
      </div>
  
      <div class="item">
        <tui-svg class="item-icon" src="tuiIconVideoLarge"></tui-svg>
        <p class="item-label">Meetings</p>
      </div>
    </div>
  </div>
  