<!-- <div class="wrapper">
    <div class="list">
      <div class="item item-active">
        <tui-svg class="item-icon" src="tuiIconListLarge"></tui-svg>
        <p class="item-label">Tasks</p>
      </div>
  
      <div class="item">
        <tui-svg class="item-icon" src="tuiIconMessageCircleLarge"></tui-svg>
        <p class="item-label">Chats</p>
      </div>
  
      <div class="item">
        <tui-svg class="item-icon" src="tuiIconVideoLarge"></tui-svg>
        <p class="item-label">Meetings</p>
      </div>
    </div>
  </div>
   -->

<tui-tabs class="wrapper">
  <ng-container *ngFor="let tab of tabs">
    <button
      tuiTab
      [routerLink]="[tab.link]"
      [routerLinkActive]="['item-active']"
    >
      <div class="item">
        <tui-svg class="item-icon" [src]="tab.icon"></tui-svg>
        <p class="item-label">{{ tab.label }}</p>
      </div>
    </button>
  </ng-container>
</tui-tabs>
