@import "vars";

.wrapper {
  padding: 0px 16px 8px;
  border-bottom: 2px solid #f2f2f2;
}

.list {
  display: flex;
  align-items: center;
  gap: 22px;

  @media (max-width: $sm) {
    overflow-y: hidden;
    overflow-x: auto;
    gap: 12px;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  padding: 2px 6px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: #eeeeee;
  }

  &-icon {
    font-size: 12px;
  }

  &-active {
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $primary;
    }
  }
}
