@import "vars";

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 14px;
  cursor: pointer;

  &:hover {
    background: #f1f1f1;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #303030;

    &-label {
      font-size: 14px;
    }

    &-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;

    &-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      color: #4d4d4d;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 20px;
  }
}

.collapsed-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.collapsed-dropdown {
  padding: 4px 0;
}

.active {
  &__wrapper {
    display: flex;
    
    background: $primary-light;
  }

  &__label {
    color: $primary;
    font-weight: 500;
  }

  &:hover {
    color: $primary;
    background: $primary-light;
  }
}
