<div
	class="menu"
	[class.active]="active"
	[class.collapsed-menu]="collapsed"
	[matTooltip]="collapsed ? label : ''"
	matTooltipPosition="right"
	(click)="onExpandedToggle($event)"
>
	<div
		class="menu__header"
		[class.active__label]="active"
	>
		<mat-icon class="menu__header-icon">{{ headerIcon }}</mat-icon>
		<p
			class="menu__header-label"
			*ngIf="!collapsed"
		>
			{{ label }}
		</p>
	</div>

	<button
		class="menu__toggle"
		*ngIf="!collapsed"
	>
		<mat-icon
			[class.active__label]="active"
			*ngIf="!expanded"
			class="menu__toggle-icon"
		>
			chevron_right
		</mat-icon>

		<mat-icon
			[class.active__label]="active"
			*ngIf="expanded"
			class="menu__toggle-icon"
		>
			expand_more
		</mat-icon>
	</button>
</div>

<ng-container *ngIf="expanded">
	<div
		class="menu__content"
		[class.collapsed-dropdown]="collapsed"
	>
		<ng-content></ng-content>
	</div>
</ng-container>
