@import 'vars';

.message {
	display: flex;
	gap: 16px;
	max-width: 80%;
	align-items: flex-start;

	@media (max-width: $sm) {
		max-width: 95%;
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 12px;

		&-author {
			font-weight: 600;
		}

		&-date {
			color: #7a7a7a;
		}
	}

	&__body {
		flex-shrink: 0;
		width: 100%;
		position: relative;
		margin-top: 6px;
		padding: 8px 16px;
		border-radius: 8px;
		background: #e5e7eb;

		&-details {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 6px;
			font-size: 12px;

			& mat-icon {
				font-size: 16px;
				width: 16px;
				height: 16px;
			}
		}

		&-text {
			display: flex;
			word-wrap: break-word;
		}
	}
}

.context-menu-trigger {
	position: absolute;
}

.current-user {
	&__message {
		justify-content: flex-end;
		float: right;
	}

	&__body {
		background: $primary;
		color: #ffff;
	}
}

.message-with-previous {
	margin-top: -22px;
	padding-left: 54px;
}
