@if (message) {
	<div
		class="message"
		[class.current-user__message]="isCurrentUserMessage"
		[class.message-with-previous]="isMessageFromPrevAuthor"
	>
		@if (!isCurrentUserMessage && !isMessageFromPrevAuthor) {
			<img
				class="message__icon"
				src=""
				alt=""
			/>
		}
		<div class="message__details">
			@if (!isMessageFromPrevAuthor) {
				<div class="message__header">
					<p class="message__header-author">
						{{ isCurrentUserMessage ? 'You' : message.senderFullName }}
					</p>
				</div>
			}
			<div
				class="message__body"
				[class.current-user__body]="isCurrentUserMessage"
			>
				<p class="message__body-text">
					{{ message.content }}
				</p>
				<p class="message__body-details">
					{{ message.sentDate | date: 'H:mm' }}
					@if (message.status === 'DELIVERED' && isCurrentUserMessage) {
						<mat-icon>check</mat-icon>
					}
					@if (message.status === 'READ' && isCurrentUserMessage) {
						<img
							src="assets/images/icons/chat-check.svg"
							alt="check"
						/>
					}
				</p>
			</div>
		</div>
		<mat-menu #contextMenu="matMenu">
			<button mat-menu-item>Delete</button>
		</mat-menu>
	</div>
}
