<div
  class="message"
  [class.current-user__message]="isCurrentUserMessage"
  [class.message-with-previous]="isMessageFromPrevAuthor"
>
  <img
    class="message__icon"
    src=""
    alt=""
    *ngIf="!isCurrentUserMessage && !isMessageFromPrevAuthor"
  />
  <div class="message__details">
    <div class="message__header" *ngIf="!isMessageFromPrevAuthor">
      <p class="message__header-author">
        {{ isCurrentUserMessage ? "You" : message.authorName }}
      </p>
      <span class="message__header-date">
        {{ message.sentAt | date : "shortTime" }}
      </span>
    </div>

    <div
      class="message__body"
      [class.current-user__body]="isCurrentUserMessage"
    >
      <p class="message__body-text">
        {{ message.body }}
      </p>
    </div>
  </div>
</div>
