@import 'vars';

:host ::ng-deep {
	file-upload {
		background: transparent;
		outline: 1px dashed $border-color-dark;
		outline-offset: -5px;
		border-radius: 8px;
	}

	.settings {
		display: flex;
		justify-content: center;

		&__content {
			max-width: 100%;
			background: #fff;
			border-radius: 12px;
			padding: 34px;
			border: 1px solid #ebeaea;

			display: flex;
			flex-direction: column;
			gap: 30px;

			@media (max-width: $md) {
				padding: 22px;
				gap: 20px;
			}
		}

		&__header {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 12px;

			&-left {
				h2 {
					font-size: 16px;
					font-weight: 600;
				}

				p {
					font-size: 12px;
					color: #7c7f85;
					font-weight: 500;
				}
			}

			&-right {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}

		&__section {
			display: flex;
			flex-direction: column;
			column-gap: 60px;
			row-gap: 16px;

			&-title {
				font-weight: 500;

				&.danger {
					color: #f85149;
				}
			}

			&-subtitle {
				font-size: 12px;
				color: #7c7f85;
				font-weight: 400;
			}

			&-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&-description {
				display: flex;
				flex-direction: column;
			}
		}

		&__details {
			display: flex;
			flex-direction: column;
			gap: 12px;

			& input,
			textarea {
				border: 1px solid $border-color-dark;
				padding: 8px 14px;
				border-radius: 6px;
				resize: none;
			}
		}

		&__danger {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			& button {
				font-weight: 500;
				color: #f85149;
				border: 1px solid #f85149;
			}
		}

		&__separator {
			width: 100%;
			height: 1px;
			background: #ebeaea;
		}
	}
}
