<section class="page">
	<app-tasks-toolbar></app-tasks-toolbar>

	<app-tasks-filter (filter)="onFilter($event)"></app-tasks-filter>

	@if (columns$ | async; as columns) {
		<div class="tasks__content">
			@if (filter.view === 'Kanban') {
				<app-kanban-board [columns]="columns"></app-kanban-board>
			}
			@if (filter.view === 'List') {
				<app-list-view [columns]="columns"></app-list-view>
			}
			@if (filter.view === 'Table') {
				<app-table-view [columns]="columns"></app-table-view>
			}
		</div>
	}
</section>
