<section class="page">
	<app-tasks-toolbar></app-tasks-toolbar>

	<app-tasks-filter (filter)="onFilter($event)"></app-tasks-filter>

	<div class="tasks__content">
		@if (columns$ | withLoading | async; as columns) {
			@if (columns.data) {
				@switch (filter.view) {
					@case ('Kanban') {
						<app-kanban-board-view [columns]="columns.data"></app-kanban-board-view>
					}
					@case ('List') {
						<app-list-view [columns]="columns.data"></app-list-view>
					}
					@case ('Table') {
						<app-table-view [columns]="columns.data"></app-table-view>
					}
				}
			}

			@if (columns.loading) {
				<div class="tasks__loading-page">
					@for(skeleton of skeletonArray; track $index){
					<div
						class="tasks__loading-column"
					>
						<ngx-skeleton-loader
							count="1"
							appearance="line"
							[theme]="{
								height: '50px',
								'border-radius': '8px'
							}"
						/>

						<ngx-skeleton-loader
							count="1"
							appearance="line"
							[theme]="{
								height: '210px',
								'border-radius': '8px'
							}"
						/>
					</div>
				}
				</div>
			}

			@if (columns.error) {
				<div class="tasks__error page">
					<h1 class="tasks__error-title">404</h1>
					<div class="tasks__error-content">
						<h2 class="tasks__error-subtitle">
							Oops.. <br />
							We couldn't find a tasks list you are looking for.
						</h2>
						<button
							mat-flat-button
							color="primary"
							routerLink="/hub/overview"
						>
							<a routerLink="/hub/overview">Return Back</a>
						</button>
					</div>
				</div>
			}
		}
	</div>
</section>
