<ng-container *ngIf="isLoading">
	<div class="teams__loading">
		<div class="teams__loading-container">
			<ngx-skeleton-loader
				class="custom-skeleton"
				count="1"
				appearance="line"
				[theme]="{
					height: '35px',
					'border-radius': '8px',
					margin: '20px',
					width: '250px',
					flex: '1'
				}"
			/>

			<ngx-skeleton-loader
				class="custom-skeleton"
				count="1"
				appearance="line"
				[theme]="{
					height: '35px',
					'border-radius': '8px',
					margin: '20px 20px 20px 20px',
					width: '150px',
					flex: '1',
					'text-align': 'right'
				}"
			/>
		</div>

		<ngx-skeleton-loader
			class="custom-skeleton"
			count="1"
			appearance="line"
			[theme]="{
				height: '300px',
				'border-radius': '8px',
				margin: '0 20px 20px 20px ',
				width: '97%'
			}"
		/>

		<ngx-skeleton-loader
			class="custom-skeleton"
			count="1"
			appearance="line"
			[theme]="{
				height: '50px',
				'border-radius': '8px',
				margin: '0 20px 20px 20px',
				width: '97%'
			}"
		/>

		<ngx-skeleton-loader
			class="custom-skeleton"
			count="1"
			appearance="line"
			[theme]="{
				height: '100px',
				'border-radius': '8px',
				margin: '0 20px 20px 20px',
				width: '97%'
			}"
		/>

		<ngx-skeleton-loader
			class="custom-skeleton"
			count="1"
			appearance="line"
			[theme]="{
				height: '60px',
				'border-radius': '8px',
				margin: '0 20px 20px 20px',
				width: '97%'
			}"
		/>
	</div>
</ng-container>

<ng-container *ngIf="!isLoading && !isError; else teamErrorLayout">
	<ng-container *ngIf="team$ | async as team">
		<app-page-header [value]="team.name"></app-page-header>

		<app-teams-navbar></app-teams-navbar>

		<main class="container">
			<router-outlet></router-outlet>
		</main>
	</ng-container>
</ng-container>

<ng-template #teamErrorLayout>
	<div class="teams__error">
		<h1 class="teams__error-h1">404</h1>
		<div class="teams__error-content">
			<h2 class="teams__error-h2">
				Oops.. <br />
				We couldn't find a team you are looking for.
			</h2>
			<a
				routerLink="/hub/overview"
				class="teams__error-button"
				>Back to the homepage</a
			>
		</div>
	</div>
</ng-template>
