@import 'vars';

:host ::ng-deep {
	.mat-mdc-table {
		border: 1px solid #e9e9e9;
		background: none;
	}

	.mat-mdc-row .mat-mdc-cell {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		cursor: pointer;
	}

	.mat-mdc-header-cell {
		font-size: 12px;
		text-transform: uppercase;
		color: #afafaf;
	}

	.mdc-data-table__cell,
	.mdc-data-table__header-cell {
		border-bottom: none;
	}

	.mat-mdc-row:hover .mat-mdc-cell {
		background: #e6f0fc;
	}

	.mat-mdc-table tbody,
	.mat-mdc-table tfoot,
	.mat-mdc-table thead,
	.mat-mdc-cell,
	.mat-mdc-footer-cell,
	.mat-mdc-header-row,
	.mat-mdc-row,
	.mat-mdc-footer-row,
	.mat-mdc-table .mat-mdc-header-cell {
		background: none;
	}
}

.table_wrapper {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

table {
	width: 100%;
	border-radius: 6px;
	background: #fff !important;
	padding: 12px;
}

table tbody {
	display: table;
	width: 100%;
}
