<div class="features__wrapper">
	<div class="features__title">Features</div>
	<h3 class="features__subtitle">
		Your workplace will never <span class="hide_sm"><br /></span>
		be the same
	</h3>
	<div class="features__list">
		@for (feature of features; track $index) {
			<div class="features__item">
				<div class="features__item-icon"></div>
				<h3 class="features__item-title">Chatting</h3>
				<p class="features__item-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor.
				</p>
			</div>
		}
	</div>
</div>
