@import 'vars';

.features {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 4rem;
	}

	&__title {
		border-radius: 9999px;
		padding: 0.5rem 1.25rem;
		background: $primary;
		color: #fff;
		font-size: 0.875rem;
	}

	&__subtitle {
		margin-top: 1rem;
		font-size: 1.5rem;
		font-weight: 500;
		text-align: center;
		line-height: 1.25;

		@media (min-width: $md) {
			font-size: 2rem;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
		margin-top: 2rem;

		@media (min-width: $md) {
			margin-top: 2.5rem;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: 2rem;
		}
	}

	&__item {
		max-width: 20rem;
		background-color: #ffffff;
		padding: 1.5rem;
		border-radius: 1.5rem;
		border: 1px solid #e5e7eb;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		z-index: auto;

		&:hover {
			box-shadow: 0px 8px 24px rgba(170, 184, 174, 0.2);
			transform: scale(1.02) translateY(-0.75rem);
			border-color: #d7dbd7;
		}

		&-icon {
			width: 3rem;
			height: 3rem;
			font-size: 3rem;
			background: -webkit-linear-gradient(90grad, #11998e, #38ef7d);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #11998e;
		}

		&-title {
			margin-top: 1.5rem;
			font-size: 1.125rem;
			font-weight: 600;

			@media (min-width: $md) {
				font-size: 1.5rem;
			}
		}

		&-body {
			margin-top: 12px !important;
			font-size: 12px;

			@media (min-width: $md) {
				font-size: 0.875rem;
			}
		}
	}
}

.hide_sm {
	display: none;

	@media (min-width: $sm) {
		display: inline;
	}
}
