@import "vars";

// Paletes
$kaiteki-frontend-primary: mat.define-palette($kaiteki-primary-palette);
$kaiteki-frontend-accent: mat.define-palette(
  $kaiteki-primary-palette,
  A200,
  A100,
  A400
);
$kaiteki-frontend-warn: mat.define-palette(mat.$red-palette);
$kaiteki-frontend-typography: mat.define-typography-config(
  $font-family: "Poppins, sans-serif",
  $headline-1: mat.define-typography-level(112px, 112px, 300),
  $headline-2: mat.define-typography-level(56px, 56px, 400),
  $headline-3: mat.define-typography-level(45px, 48px, 400),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 400),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $subtitle-2: mat.define-typography-level(16px, 28px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 400),
);

$kaiteki-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $kaiteki-frontend-primary,
      accent: $kaiteki-frontend-accent,
      warn: $kaiteki-frontend-warn,
    ),
    typography: $kaiteki-frontend-typography,
  )
);
