$sm: 40em; // (min-width: 640px)
$md: 48em; // (min-width: 768px)
$lg: 64em; // (min-width: 1024px)
$xl: 80em; // (min-width: 1280px)
$xxl: 96em; // (min-width: 1536px)

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

//Colors
$primary: #111727;
$primary-dark: #111727;
$primary-light: #111727;
$background: #111727;
$background-active: #4c525c;
$text-white: #f9fafe;

$kaiteki-primary-palette: (
  50: #232f50,
  100: #1d2742,
  200: #171f35,
  300: #0b0f19,
  400: #05070c,
  500: #111727,
  600: #0d111d,
  700: #07090f,
  800: #020305,
  900: #000000,
  A100: #2f3f6b,
  A200: #354779,
  A400: #3b4f87,
  A700: #4760a2,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

$kaiteki-accent-palette: (
  50: #83a1f9,
  100: #6a8ef8,
  200: #527cf7,
  300: #3969f6,
  400: #2056f5,
  500: #0844f4,
  600: #073ddb,
  700: #0636c3,
  800: #052faa,
  900: #042892,
  A100: #6a8ef8,
  A200: #527cf7,
  A400: #2056f5,
  A700: #0636c3,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

// Font Family
$primary-ff: "Poppins";

//Font Sizes
$text-base: 16px;
$text-sm: 14px;
$text-xs: 12px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 36px;
$text-5xl: 48px;
$text-6xl: 60px;
