$sm: 40em; // (min-width: 640px)
$md: 48em; // (min-width: 768px)
$lg: 64em; // (min-width: 1024px)
$xl: 80em; // (min-width: 1280px)
$xxl: 96em; // (min-width: 1536px)

$breakpoints: (
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
	xxl: $xxl,
);

//Colors
// $primary: #085fda;
// $primary-dark: #053983;
// $primary-light: #84afed;

// $background: #ffffff;
// $background-sidebar: #010a16;
// $background-light: #f8f9fa;
// $background-active: #0d0e10;
// $background-active-light: #ebedef;

// $text-white: #f4f5f5;
// $text-black: #242424;

// $kaiteki-primary-palette: (
//   50: #84afed,
//   100: #6b9fe9,
//   200: #528fe5,
//   300: #397fe1,
//   400: #216fde,
//   500: #085fda,
//   600: #0756c4,
//   700: #064cae,
//   800: #064399,
//   900: #053983,
//   A100: #085fda,
//   A200: #085fda,
//   A400: #085fda,
//   A700: #085fda,
//   contrast: (
//     50: #f4f5f5,
//     100: #f4f5f5,
//     200: #f4f5f5,
//     300: #f4f5f5,
//   ),
// );

$primary: #068e44;
$primary-dark: #053b25;
$primary-light: #3b916d;

$primary-accent: #750a36;
$primary-accent-dark: #3b051b;
$primary-accent-light: #ba859b;

$background: #1b1b1b;
$background-sidebar: #1b1b1b;
$background-light: rgb(248, 249, 250);
$background-navbar: #1b1b1b;
$border-color: #e6eeea;
$border-color-dark: #c5ceca;
$background-active: #0d0e10;
$background-active-light: #ebedef;

$text-white: #f4f5f5;
$text-black: #242424;

$kaiteki-primary-palette: (
	50: #85baa4,
	100: #6cac92,
	200: #549e80,
	300: #3b916d,
	400: #23835b,
	500: #0a7549,
	600: #096942,
	700: #085e3a,
	800: #075233,
	900: #06462c,
	A100: #0a7549,
	A200: #0a7549,
	A400: #0a7549,
	A700: #0a7549,
	contrast: (
		50: #750a36,
		100: #750a36,
		200: #750a36,
		300: #750a36,
	),
);

$kaiteki-accent-palette: (
	50: #ba859b,
	100: #ac6c86,
	200: #9e5472,
	300: #913b5e,
	400: #83234a,
	500: #750a36,
	600: #690931,
	700: #5e082b,
	800: #520726,
	900: #460620,
	A100: #750a36,
	A200: #750a36,
	A400: #750a36,
	A700: #750a36,
	contrast: (
		50: #0a7549,
		100: #0a7549,
		200: #0a7549,
		300: #0a7549,
	),
);

// Font Family
$primary-ff: 'Poppins';

//Font Sizes
$text-base: 16px;
$text-sm: 14px;
$text-xs: 12px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 36px;
$text-5xl: 48px;
$text-6xl: 60px;
