@import 'vars';

.overview__tasks {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 12px;

	grid-column: span 2 / span 2;

	@media screen and (max-width: $md) {
		grid-column: span 5 / span 5;
	}

	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		background: #fff;
		padding: 12px;
		color: $text-black;
		border: 1px solid $border-color;

		&-icon {
			& mat-icon {
				font-size: 48px;
				width: 48px;
				height: 48px;
			}
		}

		&-title {
			font-weight: 600;
		}

		&-body {
			text-align: center;
			margin-top: 12px;
		}

		&-number {
			margin-top: 4px;
			font-size: 12px;
			color: #707070;
		}
	}
}
