<section class="page files">
	<app-files-toolbar></app-files-toolbar>

	<app-files-filter (filter)="onFilter($event)"></app-files-filter>

	<div class="files__content">
		@if (files$ | withLoading | async; as files) {
			@if (files.data) {
				@if (files.data.length > 0) {
					@switch (filter.view) {
						@case ('list') {
							<app-files-list-view [files]="files.data"></app-files-list-view>
						}
						@case ('table') {
							<app-files-table-view [files]="files.data"></app-files-table-view>
						}
					}
				} @else {
					<div class="files__empty">
						<p>No files found</p>
					</div>
				}
			}

			@if (files.loading) {
				<div class="files__loading">Loading</div>
			}

			@if (files.error) {
				<div class="files__error">Error</div>
			}
		}
	</div>

	<app-paginator
		(page)="onPage($event)"
		[pagination]="pagination"
	></app-paginator>
</section>
