.files {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__content {
		flex: 1;
		margin-top: 22px;
	}

	&__empty {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 14px;
		font-weight: 400;
		color: #bdbdbd;
		text-transform: capitalize;
	}
}
