@import 'vars';

.files {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__content {
		flex: 1;
		margin-top: 22px;
	}

	&__empty {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 14px;
		font-weight: 400;
		color: #bdbdbd;
		text-transform: capitalize;
	}

	&__loading {
		gap: 20px;
		overflow-x: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		grid-template-rows: none;
	}
}

.files__error {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	&-content {
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-title {
		color: #d8d7d7;
		font-size: 280px;
		font-weight: 600;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		opacity: 0.25;

		@media screen and (max-width: $md) {
			font-size: 180px;
		}
	}

	&-subtitle {
		color: #000;
		font-size: 26px;
		margin-bottom: 26px;
		text-align: center;
		line-height: 1.4;

		@media screen and (max-width: $md) {
			font-size: 20px;
		}
	}
}
