<section class="page files">
  <app-files-toolbar></app-files-toolbar>

  <app-files-filter (onFilter)="onFilter($event)"></app-files-filter>

  <div class="files__content" *ngIf="files$ | async as files">
    <ng-container [ngSwitch]="filter.view">
      <app-files-list-view
        *ngSwitchCase="'list'"
        [files]="files"
      ></app-files-list-view>

      <app-files-table-view
        *ngSwitchCase="'table'"
        [files]="files"
      ></app-files-table-view>
    </ng-container>
  </div>

  <app-paginator (onPage)="onPage($event)" [pagination]="pagination">
  </app-paginator>
</section>
