@import 'vars';

.overview__teams {
	padding: 22px;
	border: 1px solid $border-color;
	background: #fff;
	border-radius: 6px;

	&-title {
		color: $text-black;
		font-size: 16px;
		font-weight: 600;
	}

	&-list {
		margin-top: 20px;
		display: grid;
		gap: 14px;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		grid-template-rows: none;
	}

	&-add {
		min-height: 90px;
		padding: 22px;
		display: flex;
		align-items: center;
		gap: 8px;
		justify-content: center;
		border: 1px dashed #afafaf;
		border-radius: 6px;
		cursor: pointer;
		color: #424242;
		font-weight: 500;

		&:hover {
			background: #ebebeb;
		}
	}

	&-item {
		padding: 14px;
		background: #fff;
		border: 1px solid #e9e9e9;
		border-radius: 6px;
		cursor: pointer;

		&-title {
			color: $text-black;
			font-size: 16px;
			font-weight: 600;
		}

		&-description {
			margin-top: 2px !important;
			font-size: 14px;
			color: #525766;

			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
