<app-page-header value="Notes"></app-page-header>

<div class="notes-wrapper desktop">
	<app-notes-sidebar (selectedNoteId)="onSelectNote($event)"></app-notes-sidebar>

	<main class="notes__content">
		@if (selectedNote) {
			<form [formGroup]="form">
				<quill-editor
					formControlName="content"
					theme="snow"
					[modules]="quillConfig"
					class="quill__editor"
					placeholder=""
				></quill-editor>
			</form>
		} @else {
			<div class="empty-note__wrapper">
				<p class="empty-note__label">Select note</p>
			</div>
		}
	</main>
</div>
