@import 'vars';

.teams {
	&__wrapper {
		background-color: #f8f7fe;
		border-radius: 1rem;
		padding: 2rem;
		margin-top: 4rem;

		@media (min-width: $md) {
			padding: 4rem;
		}
	}

	&__tag {
		display: flex;
		justify-content: center;

		&-body {
			border-radius: 9999px;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			background-color: #e5e2f8;
			color: #8170e2;
			font-size: 0.875rem;
		}
	}

	&__title {
		margin-top: 1rem;
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
		line-height: 1.2;
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.5rem;
		margin-top: 2rem;

		@media (min-width: $md) {
			margin-top: 4rem;
			flex-direction: row;
			gap: 4rem;
		}

		&-details {
			width: 100%;
			display: flex;
			order: 2;
			flex-direction: column;
			gap: 2.5rem;

			@media (min-width: $md) {
				max-width: 60%;
				order: 1;
				gap: 3.5rem;
			}

			&-item {
				display: flex;
				gap: 2rem;

				&-icon {
					width: 4rem;
					height: 4rem;
					flex-shrink: 0;
					background-color: #d1d5db;
					border-radius: 0.375rem;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
				}

				&-text {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;

					&-title {
						font-weight: bold;
						font-size: 1rem;
						@media (min-width: $md) {
							font-size: 1.125rem;
						}
					}

					&-body {
						font-size: 0.875rem;

						@media (min-width: $md) {
							font-size: 1rem;
						}
					}
				}
			}
		}

		&-image {
			width: 100%;
			height: 100%;
			order: 1;

			@media (min-width: $md) {
				order: 2;
				max-width: 60%;
			}

			&-content {
				width: 100%;
				height: 18rem;
				background-color: #d1d5db;
				border-radius: 1rem;
			}
		}
	}
}

.hide_sm {
	display: inline;

	@media (min-width: $md) {
		display: none;
	}
}
