<div class="teams__wrapper">
  <div class="teams__tag">
    <p class="teams__tag-body">Built for everyone</p>
  </div>

  <h3 class="teams__title">
    Built for teams from <span class="hide_sm"><br /></span> 1 to 1,000+
  </h3>

  <div class="teams__main">
    <div class="teams__main-details">
      <div class="teams__main-details-item">
        <div class="teams__main-details-item-icon"></div>
        <div class="teams__main-details-item-text">
          <h4 class="teams__main-details-item-text-title">Visualize & Plan</h4>
          <p class="teams__main-details-item-text-body">
            Manage any project from start to finish with highly customizable
            views that make project planning a breeze.
          </p>
        </div>
      </div>

      <div class="teams__main-details-item">
        <div class="teams__main-details-item-icon"></div>
        <div class="teams__main-details-item-text">
          <h4 class="teams__main-details-item-text-title">Visualize & Plan</h4>
          <p class="teams__main-details-item-text-body">
            Manage any project from start to finish with highly customizable
            views that make project planning a breeze.
          </p>
        </div>
      </div>

      <div class="teams__main-details-item">
        <div class="teams__main-details-item-icon"></div>
        <div class="teams__main-details-item-text">
          <h4 class="teams__main-details-item-text-title">Visualize & Plan</h4>
          <p class="teams__main-details-item-text-body">
            Manage any project from start to finish with highly customizable
            views that make project planning a breeze.
          </p>
        </div>
      </div>
    </div>

    <div class="teams__main-image">
      <div class="teams__main-image-content"></div>
    </div>
  </div>
</div>
