<div
	class="teams__wrapper"
	id="landing-solutions"
>
	<div class="teams__tag">
		<p class="teams__tag-body">Built for everyone</p>
	</div>

	<h3 class="teams__title">
		Built for teams from <span class="hide_sm"><br /></span> 1 to 1,000+
	</h3>

	<div class="teams__main">
		<div class="teams__main-details">
			@for (feature of features; track $index) {
				<div class="teams__main-details-item">
					<mat-icon class="teams__main-details-item-icon">{{feature.icon}}</mat-icon>
					<div class="teams__main-details-item-text">
						<h4 class="teams__main-details-item-text-title">{{feature.title}}</h4>
						<p class="teams__main-details-item-text-body">
							{{feature.body}}
						</p>
					</div>
				</div>
			}
		</div>

		<div class="teams__main-image">
			<img
				class="teams__main-image-content"
				[src]="imageSrc"
				alt="Teams"
				loading="lazy"
			/>
		</div>
	</div>
</div>
