@import 'vars';

mat-form-field {
	width: 100%;
}

.login {
	min-height: 100vh;
	display: flex;

	&__left {
		position: relative;
		width: 100%;
		max-width: 500px;
		min-height: 100%;
		background: $primary;

		@media screen and (max-width: $md) {
			display: none;
		}
	}

	&__right {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 32px;

		h1 {
			font-weight: 500;
			text-align: center;
			color: $primary;
			font-size: 26px;
		}

		p {
			text-align: center;
			color: #686666;
			margin-top: 4px !important;
		}

		form {
			max-width: 400px;
			width: 100%;
			margin-top: 32px;
			display: flex;
			flex-direction: column;
		}
	}

	&__back {
		width: 36px;
		height: 36px;
		top: 32px;
		left: 32px;
		position: absolute;
		background-color: #f0f0f0;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px;

		& mat-icon {
			font-size: 18px;
			width: 18px;
			height: 18px;
		}
	}

	&__forgot {
		color: #686666;
		cursor: pointer;
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		margin-top: 20px;
	}

	&__bottom {
		color: #686666;
		margin-top: 32px;
		display: flex;
		align-items: center;
		gap: 12px;

		a {
			text-decoration: underline;
			color: $primary;
			cursor: pointer;
		}
	}
}
