<section class="login">
	<div class="login__left">
		<app-image-slider
			[animationSpeed]="500"
			[slides]="slides"
			[autoPlay]="true"
			[autoPlaySpeed]="4000"
  		></app-image-slider>
	</div>

	<div class="login__right">
		<div class="login__header">
			<h1>Welcome Back!</h1>
			<p>Login your account</p>
		</div>

		<form [formGroup]="form">
			<mat-form-field appearance="outline">
				<mat-label>Email / Username</mat-label>
				<input
					matInput
					formControlName="emailOrUsername"
					type="text"
					placeholder="Enter either email or username"
				/>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input
					matInput
					formControlName="password"
					type="password"
					placeholder="Password"
				/>
			</mat-form-field>

			<a class="login__forgot">Forgot Password?</a>

			<button
				mat-flat-button
				type="submit"
				color="primary"
				class="login__button"
				[disabled]="form.invalid"
				(click)="onSubmit()"
			>
				Login
			</button>
		</form>

		<div class="login__bottom">
			<p>Don't have an account yet?</p>
			<a routerLink="/signup">Sign Up</a>
		</div>

		<button
			class="login__back"
			routerLink="../"
			matTooltip="Back"
			matTooltipPosition="right"
		>
			<mat-icon>arrow_back_ios</mat-icon>
		</button>
	</div>
</section>
