.t-export {
	&__title {
		font-size: 20px;
		font-weight: 500;
	}

	&__filters {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		align-items: start;
	}
}
