<div class="members-table__wrapper">
	<table
		mat-table
		[dataSource]="members"
	>
		<caption></caption>

		<ng-container matColumnDef="name">
			<th
				mat-header-cell
				*matHeaderCellDef
			>
				Name
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				<div class="members-table__name-avatar">
					<img
						[src]="element.avatar"
						[alt]="element.firstname"
						loading="lazy"
					/>
					<p>{{ element.firstname }} {{ element.lastname }}</p>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="position">
			<th
				mat-header-cell
				*matHeaderCellDef
			>
				Position
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.position }}
			</td>
		</ng-container>

		<ng-container matColumnDef="email">
			<th
				mat-header-cell
				*matHeaderCellDef
			>
				Email
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.email }}
			</td>
		</ng-container>

		<ng-container matColumnDef="entryDate">
			<th
				mat-header-cell
				*matHeaderCellDef
			>
				Since
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.joinedDate | date: 'EEEE, MMMM d' }}
			</td>
		</ng-container>

		<ng-container matColumnDef="performance">
			<th
				mat-header-cell
				*matHeaderCellDef
			>
				Performance
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				<p
					class="members-table__performance"
					[ngStyle]="{ color: getPerformanceColor(element.performance) }"
				>
					{{ element.performance }}%
				</p>
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th
				mat-header-cell
				*matHeaderCellDef
			></th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				<button
					(click)="onMoreClick($event)"
					[matMenuTriggerFor]="taskMoreMenu"
				>
					<mat-icon>more_horizont</mat-icon>
				</button>

				<mat-menu #taskMoreMenu="matMenu">
					<button
						mat-menu-item
						[routerLink]="[element.id]"
					>
						<mat-icon>person_outline</mat-icon>
						<span>View</span>
					</button>
					<button
						mat-menu-item
						(click)="onDeleteMember(element.id)"
					>
						<mat-icon>delete</mat-icon>
						<span>Remove</span>
					</button>
				</mat-menu>
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns"
		></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: displayedColumns"
		></tr>
	</table>
</div>
