<h4
	class="sc__title"
	mat-dialog-title
>
	Customize statuses
</h4>

@if (!invalid) {
	<section
		class="sc"
		mat-dialog-content
	>
		<div class="sc__open">
			<h5>Open Status</h5>
			@if (openStatus) {
				<app-customize-status-item
					[status]="openStatus"
					[draggable]="false"
				></app-customize-status-item>
			}
		</div>
		<div class="sc__statuses">
			<h5>Active statuses</h5>
			@if (statuses.length > 0) {
				<div
					cdkDropList
					class="sc__list"
					(cdkDropListDropped)="drop($event)"
				>
					@for (status of statuses; track status) {
						<app-customize-status-item
							[status]="status"
							[draggable]="true"
							(statusDelete)="onDeleteStatus($event)"
							(statusChange)="onChangeStatus($event)"
							[showMoreButton]="true"
						></app-customize-status-item>
					}
				</div>
			} @else {}
		</div>
		<div class="sc__add-status">
			<button
				mat-stroked-button
				(click)="onAddStatusClick()"
			>
				+ Add status
			</button>
		</div>
		<div class="sc__closed">
			<h5>Done Status</h5>
			@if (doneStatus) {
				<app-customize-status-item
					[status]="doneStatus"
					[draggable]="false"
				></app-customize-status-item>
			}
		</div>
	</section>
}

@if (!invalid) {
	<mat-dialog-actions align="end">
		<button
			mat-stroked-button
			(click)="onBackClick()"
		>
			Back
		</button>
		<button
			type="submit"
			mat-flat-button
			color="primary"
			(click)="onSubmit()"
		>
			Save
		</button>
	</mat-dialog-actions>
}
